[2017-03-18 16:41] kytrinyx opened #1 "Add CC-BY-4 license"
UPDATE: we settled on choosing the Creative Commons Attribution 4.0 International License:

http://creativecommons.org/licenses/by/4.0/legalcode

-----

_original issue_:

Since the documentation is all text-based, I think it would make sense to have a creative commons license.

I don't know which one.

[2017-03-18 16:47] kytrinyx opened #2 "Organize existing project-wide documentation into this central repository"
This is the documentation that we have. We need to:

- decide how to organize the documentation
- copy documentation into the new locations
- update documentation links throughout the project
- delete documentation from old locations

## exercism/exercism.io

This is in the `docs/` directory (https://github.com/exercism/exercism.io/tree/master/docs)

[code]

We also have a CONTRIBUTING file in exe

[2017-03-18 17:04] kytrinyx commented on #2
Here are some of the categories that I see (not exhaustive).

* welcome / high level orientation
* roadmap
* general best practices
* contributing to language tracks
* contributing to the website/product
* maintaining language tracks
* setting up a local development environment
  - website-specific (should remain in exercism/exercism.io)
  - entire ecosystem (website, api, CLI, configured to work

[2017-03-19 00:43] rootulp commented on #1
I think [choosealicense](https://choosealicense.com/) might be helpful. From the [non-software](https://choosealicense.com/non-software/) section:

[2017-03-19 03:23] kytrinyx commented on #1
I looked through the licenses on choosalicense.com, but I don't think a software license is necessary for this. Looking at other content sites, for example https://opensource.guide, it's under a Creative Commons license (CC-BY-4) https://creativecommons.org/licenses/by/4.0/

[2017-03-19 08:21] ErikSchierboom commented on #1
Well, I don't know much about content licenses, so I usually look at what other people do. The [Microsoft docs](https://github.com/dotnet/docs/blob/master/license.txt) use the Creative Commons Attribution 4.0
International License

International License (http://creativecommons.org/licenses/by/4.0/legalcode).

[2017-03-19 08:57] ErikSchierboom commented on #2
I love the proposed categories, and especially the task-oriented guides.

[2017-03-19 15:25] kytrinyx commented on #1
The question I have with regards to which CC license to use, is whether or not we think that _commercial use_ is OK. I'm perfectly happy with people reproducing this for learning, informational, inspirational purposes, and while I can't imagine that anyone could find a way to make a buck off of documentation like this, I'm still wary of the idea.

[2017-03-19 15:26] kytrinyx commented on #2
OK, cool. It sounds like that might be good enough to get started, then.

[2017-03-19 16:26] kytrinyx commented on #2
I think that the basic structure should be something like this:

- a top-level README that provides a map to the entire repository. People should be able to quickly orient themselves from the README and get directly to the documentation that they need. It should not be a wall of text.
- directories for each category. Each directory should have a README, which contains the high-level documentation

[2017-03-19 16:35] kytrinyx commented on #2
I've added a couple of pull requests, and the guides have ended up in a directory with related documentation so far. I'm not sure we'll end up with a separate directory for guides.

[2017-03-19 16:53] kytrinyx commented on #2
The entire top section of the exercism/exercism.io CONTRIBUTING.md document is a decision tree that @jtigger developed for figuring out where to go next.

I'd like to suggest that we put this in separate files like this:

[code]

[2017-03-19 17:03] parkerl commented on #2
@kytrinyx what's your aim in breaking that document apart? Is it so that the end user sees less of a wall of text? Or is it to make maintaining the docs easier? I have concerns about making the docs too fine grained.

[2017-03-19 17:13] kytrinyx commented on #2
@parkerl I find it a bit overwhelming to have a long document like that, and navigating between sections is confusing to me, because when you link to a (short) section, you also see the sections after it.

I've pushed up a suggestion in #5

[2017-03-19 17:32] kytrinyx commented on #2
@parkerl How about breaking it into three files instead of all the way down into granular files?

[2017-03-19 18:22] kytrinyx commented on #2
@parkerl I've decided to do a direct copy for now (though I'm experimenting with icons). We can discuss later whether or not it's useful to break the document apart a bit.

[2017-03-20 01:52] parkerl commented on #2
Ok. Sounds good.

[2017-03-20 07:24] ErikSchierboom commented on #2
I have the exact same feeling. Having one page with lots of contents is not the best way to display contents on the web I feel, it's why we have hyperlinks after all, to link to other pages. But just doing a direct copy and having a discussion later seems wise.

[2017-03-20 12:16] jtigger commented on #1
No need to leave open the possibility for commercial use, @kytrinyx.  I don't know licenses well at all, so I can't meaningfully contribute here.  I'm glad you're thinking about bits like this.

[2017-03-20 12:20] markijbema commented on #1
It seems strange to restrict commercial use of the documentation, but not the product:
https://github.com/exercism/exercism.io/blob/master/LICENSE

So you can perfectly legal make a commercial clone of exercism, but you cannot use any documentation? This triggers my consistency radar.

(feel free to disregard my opinion, mostly lurking nowaydays ;) )

[2017-03-20 15:38] kytrinyx commented on #1
Yeah, you're right.

I was thinking of this clause:

ensure that, in such cases, the modified source code becomes available
to the community.

Which doesn't restrict commercial activity, but does require that any changes you make are made available to the community.

Based on the current discussion I think CC-BY-4 is the right way to go.

[2017-03-20 15:46] jtigger commented on #2
Organizing this stuff is not easy.

I see an overlap with advice around designing microservices:

1. keep everything together and learn your [Bounded Context](https://martinfowler.com/bliki/BoundedContext.html)s.
2. As you truly understand each context and see the grains, break them out.

The Bounded Contexts in Exercism I see (with potential sections)... I'm sketching to express the idea:

- Deli

[2017-03-20 16:00] kytrinyx commented on #2
@jtigger that makes sense. Let's get everything in here and see what we have, and then discuss improvements to it.

[2017-03-21 20:27] jtigger commented on #2
I'm feeling a little dense, @kytrinyx.  I want to help out but I'm not sure where we're at.

- I see some files .md files are here, some are not.
- There's a start to a discussion about organization, but we can't get too far without having the pieces on the table.

Are we at the point of mechanically pulling files over into this repo from the various sources, listed above?

[2017-03-21 22:27] kytrinyx commented on #2
Sorry @jtigger that is totally my fault.

Yes!

I jumped the gun starting to talk about where things go. I think if we even just get everything in here, we can get a better view of what's here, what's not, and how to organize it.

[2017-03-31 19:26] kytrinyx opened #8 "Document our philosophy / best practices about test suites"
I couldn't find a document that talks about how we think about the exercise test suites.
There's a little bit in here: https://github.com/exercism/docs/blob/master/contributing-to-language-tracks/improving-consistency-across-tracks.md but I think it would be great to have a top-level philosophy document that other documentation could refer to.

@parkerl @jtigger @IanWhitney @petertseng @kotp @Erik

[2017-03-31 20:13] petertseng commented on #8
* Follow x-common's canonical-data.json if it's available
* If it's not available, use http://x.exercism.io/problems/hello-world (replace hello-world with the exercise in question) or http://exercism.io/languages/vimscript/todo (replace vimscript with your track) to find other implementing tracks.
* Test generator if you think it will make translation form JSON -> your track easier, not required o

[2017-03-31 22:54] kotp commented on #8
This is excellent @petertseng set to start from.

[2017-04-01 05:23] kytrinyx commented on #8
Also perhaps:

- consider the user experience (what do the failure messages / error messages look like, are they communicative?)
- consider the test cases: try to avoid a test that introduces multiple requirements at once, try to avoid tests that test for the same thing, try to make the order of the tests increase the requirements gradually

[2017-04-01 21:41] petertseng commented on #8
That's a great point about user experience. It reminded me of a point:

* Can we make it as easy as possible to run the tests?
  * A command that is short and easy to remember (such as `make test`) will probably have the advantage over one that has a bunch of flags.
  * A bit of previous discussion in https://github.com/exercism/discussions/issues/117, but unsure how much of it is considered relev

[2017-04-01 23:00] kytrinyx commented on #8
Yeah, that's a good point. We should optimize for ease of running the tests, while still balancing against idiomatic use of the language's tools.

[2017-04-02 14:47] ErikSchierboom commented on #8
The only thing I would add is:

- Try to make the test code as simple as can be.

I think it is very useful if people can actually read the tests, which means that they should be as simple as possible.

Furthermore, perhaps "Follow x-common's canonical-data.json if it's available" should be specified in more detail. Something like:

- Use the test description as specified in the canonical data
- U

[2017-04-03 04:23] kytrinyx commented on #8
I think we should mention that these are what we think are good defaults, but if you have a good reason (language idioms, etc) then don't hesitate to deviate from them.

[2017-04-03 18:56] parkerl commented on #8
Dropping this here for reference from https://github.com/exercism/request-new-language-track/edit/master/TRAVIS.

[code]

[2017-04-04 15:09] jtigger commented on #8
As part of this work, as discussed in exercism/request-new-language-track#12 please add a link from https://github.com/exercism/request-new-language-track/blob/master/TRAVIS to the document you create here.

[2017-04-04 15:58] kytrinyx opened #9 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 17:12] kytrinyx commented on #9
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-17 12:35] kytrinyx opened #10 "Document bulk issue creation"
We often want to do one of to things:

1. Submit a bunch of issues (one for each exercise) in a single repository
1. Submit a bunch of (identical) issues to a bunch of different repositories

For the second there are several scenarios:

- submit to all language tracks
- submit to all language tracks that implement a given exercise
- submit to all the repositories on Exercism (rare, but it happens.

[2017-04-17 12:37] kytrinyx opened #11 "Document how to create a brand new exercise"
We currently have some documentation about creating a completely new exercise in https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#implementing-a-completely-new-exercise

We should extract this to a separate document in this repository, probably in the https://github.com/exercism/docs/tree/master/contributing-to-language-tracks directory, and flesh it out so that it reads as a consi

[2017-04-21 04:09] kytrinyx commented on #9
We don't need it here.

[2017-04-21 04:09] #9 closed

[2017-04-21 04:16] kytrinyx opened #12 "Document how to configure a language track"
The `config.json` file has a number of options, and is kind of sort of referenced and halfway explained in a number of different places:

- The [x-common contributing guide][common-contributing]
- The "how to contribute language tracks" [document in the docs repo][docs-contributing]
- The [launch checklist][checklist] that gets added as the first issue to new language tracks

[common-contributing]

[2017-04-21 05:41] Insti commented on #12
`config.json` is used by https://github.com/exercism/trackler

The section in the [x-common contributing guide](https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#useful-tidbits) looks like a good starting point.

[2017-04-28 06:40] jtigger opened #13 "Capture standard operating procedures in a runbook"
There are things that we do to keep the lights on.  Is this the place to document those things too?

- availability indicators (API 200s, website 200s)
- availability objectives (e.g. 99% (~7hrs/mo))
- monitoring (both indicators and logs)
- packaging and deploying
  - building all of exercism.io, step-by-step
  - deployment process, step-by-step
- alerting
- backups and restores

[2017-04-28 12:30] Insti opened #14 "Add 'good first patch' label."
Other Exercism repositories use 'good first patch' label for easily actionable items.
Add that label here so they can be found using a search query over all of Exercism.

As documented here: https://github.com/exercism/exercism.io/blob/master/CONTRIBUTING.md#good-first-patch

[2017-04-28 12:34] Insti commented on #14
Done.

[2017-04-28 12:34] #14 closed

[2017-05-20 18:28] kytrinyx commented on #13
💯 This is absolutely the place to capture this.

We're going to need a new directory, perhaps `site-operations`?

[2017-05-20 23:04] kytrinyx commented on #11
If you're interested in picking this one up _go for it_!

Please drop a line here so that other people don't double-up on the work.

Then open a pull request... it doesn't have to be done, it just needs to be a start. We can go from there. If you get stuck, holler, either here or in the support chat https://gitter.im/exercism/support

[2017-05-21 01:04] acgillette commented on #11
I'm interested! I'll go ahead and take this if no one else is working on it.

[2017-05-21 01:10] kytrinyx commented on #11
Awesome, thank you @acgillette! :sparkles:

[2017-05-21 15:07] mfernest commented on #11
Too slow! Maybe there's another?

[2017-05-21 16:36] kytrinyx commented on #11
@mfernest Yes! I'll write one up right now and ping you in it.

[2017-05-21 16:51] kytrinyx opened #21 "Document how to start a new language track"
For the longest time, if anyone emailed me or tweeted at me and said "hey, could we have a track for the X programming language?" I'd go ahead and make it.

The problem with this was that often the person wasn't offering to implement and maintain a new track, they were just wishing out loud that it existed.

So we've ended up with a bunch of tracks that are kind of in the works—maybe—but probably

[2017-05-21 17:30] #1 closed

[2017-05-21 17:33] kytrinyx commented on #12
note: `config.json` is also used by https://github.com/exercism/configlet

[2017-05-21 18:03] kytrinyx opened #22 "Document the anatomy of a track"
There is a slightly outdated section in the x-common contributing document about track anatomy: https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#track-anatomy

A great first step would be to move this into this repository. It should go into `/language-tracks/README.md`

A nice plus would be to delete the bulk of the explanation  about the `docs/` directory, and instead link to the

[2017-05-21 18:04] kytrinyx commented on #22
@mfernest this is a bit more straight forward than the "start a language track" one. Take your pick!

[2017-05-21 18:12] kytrinyx commented on #21
@mfernest this one's for you, if you want it!

[2017-05-21 18:19] kytrinyx opened #23 "Document how to write test suite generators"
This is not documented anywhere that I can find.

[2017-05-21 18:30] kytrinyx opened #24 "Document pull request guidelines"
These are currently documented in https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#pull-request-guidelines

They should be moved into the https://github.com/exercism/docs/tree/master/contributing-to-language-tracks directory in this repository.

That will take two pull requests. One in this repository to add the new file, and one in the https://github.com/exercism/x-common reposito

[2017-05-21 18:31] kytrinyx opened #25 "Document exercise versioning"
These are currently documented in
https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#exercise-versioning

They should be moved into the https://github.com/exercism/docs/tree/master/maintaining-a-track directory in this repository.

That will take two pull requests. One in this repository to add the new file, and one in the https://github.com/exercism/x-common repository to delete the

[2017-05-21 18:32] kytrinyx opened #26 "Document the anatomy of an exercise"
These are currently documented in https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#anatomy-of-an-exercise

They should be moved into the https://github.com/exercism/docs/tree/master/maintaining-a-track directory in this repository.

That will take two pull requests. One in this repository to add the new file, and one in the https://github.com/exercism/x-common repository to delete

[2017-05-21 18:33] kytrinyx opened #27 "Document track level linting with configlet"
These are currently documented in
https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#track-level-linting-with-configlet

They should be moved into the https://github.com/exercism/docs/tree/master/maintaining-a-track directory in this repository.

That will take two pull requests. One in this repository to add the new file, and one in the https://github.com/exercism/x-common repositor

[2017-05-21 18:35] kytrinyx opened #28 "Document how to update exercise test suites"
These are currently documented in
https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#updating-an-exercise-test-suite

They should be moved into the https://github.com/exercism/docs/tree/master/you-can-help directory in this repository. A good name would be `update-exercise-test-suites.md`

That will take two pull requests. One in this repository to add the new file, and one in the ht

[2017-05-21 19:12] Insti commented on #23
Has anyone worked out how to do it yet?

We're working on it over in https://github.com/exercism/xruby/issues/485 but we're not done yet, and I'm in no way confident enough at this point to be able to say in any non-ruby specific way:  "This is how you write a generator"

[2017-05-21 19:55] ErikSchierboom commented on #23
I've created some generators for the C# track, but nobody else has had a look at them unfortunately. They work well, but I'm not sure about the structure of the code.

[2017-05-21 20:42] mfernest commented on #26
Put me in, coach. I can do it!

[2017-05-21 21:45] mfernest commented on #22
I'll take both unless someone wants to the other for their very own.

[2017-05-21 21:47] mfernest commented on #21
@kytrinyx this sounds meaty and interesting. Gimme gimme.

[2017-05-21 22:45] petertseng commented on #23
I'm assuming we would like these to be language-independent? In that case the most that can probably be said is:

* Parse the JSON
    * You can refer to the schema to know what the generic structure is
* Look for cases
* Output them in the target language
* It's nice to include the x-common version
* `property` tells you what's being tested
* Read the comments to see if there's anything interesti

[2017-05-22 01:27] kytrinyx commented on #21
Take it! 🌻

[2017-05-22 01:29] kytrinyx commented on #26
It's yours :) Holler if you need anything.

[2017-05-22 01:29] kytrinyx commented on #22
I made plenty... probably more than enough for everyone at this point.

[2017-05-22 01:30] kytrinyx commented on #23
Yes, this is at a conceptual level. If someone wanted to write their own generator from scratch in a track that didn't have them, what would they have to know? What might they be confused about?

[2017-05-22 01:47] kytrinyx commented on #21
I've been thinking about this some more. I think it would be nice to make this the canonical source of truth, and then update the request-new-language-track to have very little text, and link to this.

Here's some relevant stuff that I think should be included:

-----

Ideally a track will have several maintainers. This makes the discussions more lively and interesting, and it makes the track more

[2017-05-22 02:32] wobh commented on #23
I've been thinking about this for the lisp track and it seems like the JSON structure of the test data is a point of common concern with #11, #26, and #28.

[2017-05-22 03:20] kytrinyx commented on #23
@wobh I was going to ask you to elaborate, but I think I understand what you mean. All three of those documents will probably want to refer to the canonical data documentation, right?

[2017-05-22 18:03] eclecticjohny commented on #25
I would like to try and submit a PR for this issue.

[2017-05-23 03:09] kytrinyx commented on #25
Thank you @eclecticjohny!

[2017-05-23 15:10] #25 closed

[2017-05-24 17:37] #8 closed

[2017-05-24 18:19] kytrinyx commented on #2
I think we now have open issues or PRs for everything. I'm going to go ahead and close this, and we can open new issues/PRs as we discover missing or confusing (or left-over) documentation.

[2017-05-24 18:19] #2 closed

[2017-05-24 20:45] Insti opened #36 "Create a glossary to document jargon, terms, and definitions"
There are bunch of terms that get used in the code of x-api/trackler/exercism.io/configlet etc.

Such as: Track, Exercise, Slug, ID, Problem, Specification, Implementation

It would be good to have a place where we could canonically list the definitions, and their intended usage.

[2017-05-25 16:26] kytrinyx commented on #36
Oooh, yes, that's an excellent idea!

[2017-05-25 20:56] #36 closed

[2017-05-29 15:12] kytrinyx commented on #26
@mfernest just checking in to make sure you're doing alright here. You still good to go on this one?

[2017-06-01 04:14] aosdab commented on #24
Hi @kytrinyx ! Thank you for exercism! I will work on this one today/tomorrow

[2017-06-01 16:55] aosdab commented on #27
I'll work on this one as well if no one has picked it up

[2017-06-01 18:12] ireddick commented on #23
I wrote one over on the JavaScript track [here](https://github.com/exercism/xjavascript/blob/master/exercises/custom-set/example-gen.js) (was some time ago now).

I remember looking at the ruby and scala tracks to see how things were being done before starting.

Having a look over things as they are now, I can see that there has been an improvement made to the canonical JSON data structure, so thi

[2017-06-01 21:31] wobh commented on #23
@kytrinyx sorry for the late reply, but, yes. Right. When I get time for xlisp, again, I'll make some notes about this.

[2017-06-02 02:28] kytrinyx opened #45 "Document basic git usage"
We have a section in the x-common contributing guide, called "Git Basics":

https://github.com/exercism/x-common/blob/master/CONTRIBUTING.md#git-basics

This entire section should be added to the `contributing-to-language-tracks` directory, in a file called `git-basics.md`.

[2017-06-02 02:31] kytrinyx commented on #23
@ireddick these are great notes, thanks. @wobh appreciate it!

[2017-06-02 06:12] aosdab commented on #45
Thanks. On it!

[2017-06-02 20:55] #45 closed

[2017-06-03 15:19] Insti commented on #10
I found this issue when wanting to make a new issue:

Remove blazon section from: https://github.com/exercism/docs/blob/master/contributing-to-language-tracks/improving-consistency-across-tracks.md

[2017-06-03 17:14] kytrinyx commented on #10
Yepp, once we have this documentation we should do a search for `blazon` throughout the docs, and probably tighten up and update what we have to point to the new documentation.

[2017-06-03 21:29] kytrinyx opened #49 "Document philosophy and process of syncing implementations with the exercise READMEs"
**UPDATE: The discussion about how to resolve this was reopened—this issue is on hold until the linked discussion is resolved.**

There's a very interesting discussion in https://github.com/exercism/discussions/issues/2 discussing the problems around confusing exercise READMEs that don't always match the implementation of the exercise.

In particular, this occurs when we've discovered an inconsist

[2017-06-09 02:46] kytrinyx commented on #11
@acgillette How are you getting on with this?

[2017-06-09 02:46] kytrinyx commented on #21
@mfernest How are you getting on with this?

[2017-06-09 02:47] kytrinyx commented on #22
@mfernest Are you doing alright with this one?

[2017-06-09 02:51] acgillette commented on #11
@kytrinyx ack so sorry Katrina, it's been a little nuts at Ada and I lost track of this. I have the docs on my computer, I'll go ahead and finish them tomorrow :)

[2017-06-09 02:53] kytrinyx commented on #27
Completed in #44 and exercism/x-common #817

@aosdab - one new trick to learn: when you open a pull request, you can add a comment in the body of the pull request comment that will automatically close the issue when the pull request gets merged: https://github.com/blog/1506-closing-issues-via-pull-requests

[2017-06-09 02:53] #27 closed

[2017-06-09 03:03] abdulhannanali commented on #28
@kytrinyx Would love to work it

[2017-06-09 03:10] kytrinyx commented on #28
@abdulhannanali It's yours!

[2017-06-09 03:10] kytrinyx commented on #11
That sounds great! Ping me if you get stuck, I'll be focusing on open source stuff all day tomorrow.

[2017-06-09 07:27] aosdab commented on #27
Awesome. Thank you for that! I would have never done that if you didn't tell me. Will start in the future. :-)

[2017-06-10 22:23] acgillette commented on #11
I added a new file for the new exercises and c/p the current information for making a new track onto it.

In terms of fleshing it out, I was wondering if there was anything specific you were looking for, or an area you'd like fleshed out.

[2017-06-10 22:37] kytrinyx commented on #11
@acgillette This is great. Let's start with just adding it, getting that merged, and then flesh it out as a separate task.

How open are you to feedback about the process itself? There are a bunch of etiquette/best-practice type things that are much easier to learn by doing and getting feedback while doing than to go read gobs and gobs of documentation up front.

If you're feeling like "nah, I'm d

[2017-06-11 04:05] kytrinyx commented on #12
Once this documentation exists, we need to update the README in https://github.com/exercism/configlet to point to it.

[2017-06-11 18:53] acgillette commented on #11
I am very open to feedback! I would love any you'd be willing to give me :)

[2017-06-11 21:51] kytrinyx commented on #11
awesome, incoming :-) :heart:

[2017-06-16 16:36] kytrinyx commented on #26
@mfernest Since I've not heard back on this I'm going to go ahead and put it back in the pool of up for grabs issues.

[2017-06-16 16:38] kytrinyx commented on #24
Fixed in #43

[2017-06-16 16:38] #24 closed

[2017-06-16 20:18] kytrinyx opened #56 "Add documentation about "what doesn't make a good track""
Only the newsletter has this: http://tinyletter.com/exercism/letters/what-exercism-is-and-isn-t
... we need to add it somewhere, but not sure where.

I think it probably needs its own file, probably within the `about/` directory. Maybe call it `in-scope-out-of-scope.md`

[2017-06-17 00:29] aosdab commented on #26
Hi @kytrinyx. If no one has picked this up by Sunday, I'll do it. 🙂

[2017-06-17 00:47] kytrinyx commented on #26
Sounds like a plan :)

[2017-06-24 14:58] #26 closed

[2017-06-27 18:52] stkent opened #61 "Canonical track maintenance contributing guide?"
We have:

https://github.com/exercism/problem-specifications/blob/master/CONTRIBUTING.md

and

https://github.com/exercism/docs/tree/master/contributing-to-language-tracks

which cover similar ground but were obviously written separately. Is one of these considering more definitive than the other moving forward? Which resource should tracks be pointing interested newcomers to?

[2017-06-27 19:47] kytrinyx commented on #61
The docs repo is where I'd like to point everyone to. I have open issues here to move things from the problem-specifications Contributing guide.

[2017-06-27 20:04] stkent commented on #61
Roger that, thanks! Wasn't sure if that also applied to repo-specific files that are treated specially by GitHub, like READMEs, CONTRIBUTING, etc.

[2017-06-27 20:12] kytrinyx commented on #61
Yeah, each repo will still have a README and Contributing file that is relevant to that repo. All the project-wide stuff should be in the docs repo, though.

[2017-07-15 19:50] kytrinyx commented on #49
We reworked the entire process regarding exercise READMEs and no longer need this. See https://github.com/exercism/meta/issues/15 for details.

[2017-07-15 19:50] #49 closed

[2017-07-15 19:51] kytrinyx commented on #21
It's been a month, I'm going to go ahead and make this one up for grabs again.

[2017-07-15 19:51] kytrinyx commented on #28
It's been a month, I'm going to go ahead and reset this one to up for grabs.

[2017-07-15 19:52] kytrinyx commented on #11
Fixed in https://github.com/exercism/docs/pull/55

[2017-07-15 19:52] #11 closed

[2017-07-15 21:08] kytrinyx commented on #22
It's been a month. I'm going to go ahead and unclaim this.

[2017-07-15 21:11] kytrinyx opened #67 "Add documentation about exercise metadata"
add file: `language-tracks/exercises/metadata.md`

Some of this can be moved out of the ./language-tracks/exercises/anatomy/readmes.md file, and maybe also ./maintaining-a-track/regenerating-exercise-readmes.md

[2017-07-15 21:12] kytrinyx opened #68 "Add documentation about track contributing documentation"
add file: `/language-tracks/documentation/for-contributors.md`

Talk about:

* track readme
* contributing guide
* pull request / issue templates

[2017-07-15 21:13] kytrinyx opened #69 "Add documentation about track tooling, automation, and bots"
add directory `language-tracks/tooling/`

Can contain a README with an overview, link to the configlet documentation, talk about blazon, probot/stale, and other new bots as we write them.

[2017-07-15 22:29] abdulhannanali commented on #28
@kytrinyx Sorry for this delay forgot about it. I am going to work on this first thing tomorrow.

[2017-07-15 22:57] kytrinyx commented on #28
@abdulhannanali Ok, cool. I'm changing the status back to claimed for you.

[2017-07-16 14:41] #12 closed

[2017-07-16 15:39] #22 closed

[2017-07-17 14:31] #28 closed

[2017-08-13 15:24] nywilken opened #79 "Update contributing guides for maintainers"
The contribution guides lay out details for getting started and submitting PRs. But it doesn't cover things like PR merging strategies and issue resolution processes on GitHub. So I am creating this thread to begin hashing out details for such topics.

This thread is a continuation of a short discussion that started on https://github.com/exercism/cli/pull/432#issuecomment-321811177

[2017-09-04 01:04] rpottsoh opened #86 "first-exercise.md: ends abruptly"
The last sentence is not complete in [first-exercise.md](https://github.com/exercism/docs/blob/master/language-tracks/launch/first-exercise.md).

[2017-09-04 02:44] kytrinyx commented on #86
Oh, wow. I think I ran out of steam and didn't notice. I'll take another stab at this one when my brain is fresh.

[2017-09-20 01:56] petertseng opened #92 "Should implement-an-exercise-from-specification.md#configuring-the-exercise include nextercism keys?"
https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#configuring-the-exercise has slug, difficulty, topics. Should the example include all things in https://github.com/exercism/meta/issues/16 ? Should it instead incorporate https://github.com/exercism/meta/issues/16 by reference? Should something else happen?

If not, we run the risk that someone fo

[2017-09-21 11:33] kytrinyx commented on #92
I think the two best options here are to either:

* include all the keys directly in the file, or
* link to https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md

Including the keys means that if (when?) we ever change it again, then we will have to update it here too, but it might be easier for someone to follow.

Linking might be fine, though, especially since a

[2017-09-21 16:31] petertseng commented on #92
And a more unfortunate thing is that every individual track README would want to get updated too. (This statement applies to anything that we inline into track READMEs instead of incorporate by reference).

I do wonder whether someone will ever wonder "why are so many things linked instead of just being in this file directly", but I haven't heard anyone give specific feedback complaining about tha

[2017-09-27 17:36] rpottsoh commented on #86
@kytrinyx it appears as though you were going to describe what `configlet fmt .` would be doing for the track maintainer as part exercise configuration.  I can probably fix that, but I don't know what else you may want to say on the subject as a whole.  At least I can help out tidying up the end of the document for the time being.

[2017-09-30 05:10] Stargator opened #94 "Finish incomplete sentence"
The [implementing first exercise](https://github.com/exercism/docs/blob/master/language-tracks/launch/first-exercise.md#exercise-configuration) doc has an unfinished statement at the end.

[2017-09-30 09:22] m-a-ge commented on #94
This one is related to #86

[2017-09-30 11:23] rpottsoh commented on #94
I am preparing a PR to correct the problem.

[2017-09-30 11:25] #94 closed

[2017-09-30 21:36] kytrinyx commented on #86
If you just make it end that would be wonderful. At some point I'm sure I'll have more to say 😅 but I have no idea what I was thinking at that moment.

[2017-10-01 17:42] masters3d commented on #68
Where is the info about UUID?

[2017-10-01 18:33] kytrinyx commented on #68
It's in the language tracks documentation (https://github.com/exercism/docs/tree/master/language-tracks) under configuration > exercises: https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md

[2017-10-01 18:34] #86 closed

[2017-10-02 17:10] masters3d commented on #68
@kytrinyx  Can a link of those files to the readme.md? Or would that break the website?

[2017-10-03 08:32] Insti opened #100 "Documentation layout is confusing to me."
There are 6 subdirectories of this repository.

* about
Seems to cover what the project is about and an overview of the components. That I understand.

But what is the difference between all these?:

* contributing-to-language-tracks
* contributing
* language-tracks
* maintaining-a-track
* you-can-help

What seems to be covered in each one appears fairly arbitrary to me, and the directory names ap

[2017-10-03 09:13] ErikSchierboom commented on #100
I agree with @Insti that the current setup definitely is confusing. Something can be said for splitting contributing to a track from maintaining a track, as the latter does involve the former, but not vice versa.

[2017-10-03 12:32] rpottsoh commented on #100
I also agree with all of this.  I find it very difficult to locate documents that I recall reading at one time, but now have been relocated or maybe the contents moved to another place.  When I would like to site a document to someone I end up stuck.  Unfortunately I don't have ideas on how to resolve this.  Perhaps some sort of TOC that starts at the repo level and then drills down maybe would he

[2017-10-03 13:44] tleen commented on #100
The README seems like a logical place to link to each doc and describe its purpose.

[2017-10-03 15:19] kytrinyx commented on #100
I'm aware that it's confusing. I've generally been adding documentation and trying to find groups of content that make sense together, and haven't found the final location for anything.

There are two types of content so far.

- reference documentation: by topic, as complete and detailed as possible (e.g. "track configuration") https://github.com/exercism/docs/tree/master/language-tracks/configura

[2017-10-03 15:58] kytrinyx commented on #68
Let's wait until we get #100 sorted out—we should probably have several things linked in the README.

[2017-10-07 16:46] #92 closed

[2017-10-19 19:04] petertseng commented on #26
The next step would be to fill out all the TODOs in the https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/README.md! There should be an issue for it so that people know it is still something to be done.

[2017-10-20 18:25] OrthoDex commented on #56
Hey @kytrinyx ! I would like to take this up if it's alright.

[2017-10-22 11:36] kytrinyx commented on #56
Hi @OrthoDex, yes! That would be wonderful. Thank you 🌻

[2017-11-05 18:29] #56 closed

[2017-12-13 18:04] ReedCopsey opened #111 "Wrong link on website"
This page: http://www.exercism.io/languages/fsharp/resources

Currently links to `fpchat.com`.  However, that is no longer correct for the FP slack workspace. The new link is: `https://fpchat-invite.herokuapp.com/`

[2017-12-13 18:26] coriolinus commented on #111
This issue should be moved to the [fsharp track repository](https://github.com/exercism/fsharp/issues).

[2017-12-13 18:28] ReedCopsey commented on #111
Done. Thanks - https://github.com/exercism/fsharp/issues/462

[2017-12-13 18:28] #111 closed

[2018-03-17 17:19] tejasbubane opened #113 "Is unlocked-by always required for non-core exercises?"
Came across this while changing the config to configlet 3.8.0 in https://github.com/exercism/javascript/issues/527

The [config spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md#unlocked-by) says:

This made me think that all optionals should have this property - later found out that tracks have kept it null at many places. eg. [ruby config](https://gith

[2018-03-18 23:55] tleen commented on #113
The docs may need to be updated. `core:false` and `unlocked_by: null` indicate a bonus exercise. One that is available at the start of the track in case users want to try another exercise besides core right away. I believe this is still the case.

[2018-03-24 20:49] kytrinyx commented on #113
Yepp, that's still the case.

[2018-03-25 19:28] #113 closed

[2018-06-22 07:30] petertseng opened #115 "language-tracks/configuration/exercises.md - document reasons a topic should be added"
In this issue, we discuss how to decide when to add topics to an exercise. Discussion seems to favour adding only topics that are essential/required for an exercise. To close this issue, all that would be left to do is to document this.

Original issue text:

---

It is possible to see that the current https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md#topics t

[2018-06-22 20:11] ErikSchierboom commented on #115
I have to admit that I think the C# and F# track isn't very consistent in choosing the topics, freely use both goals. That said, I think it is good to discuss this, so thanks for bringing this up.

What I think we should aim for is to describe what the core topic of the exercise is. What fundamental topic will always hold when dealing with the exercise. That should I think exclude possible topics,

[2018-06-24 11:52] wolf99 commented on #115
IMHO requirements should not be indicated through topic tags.

I would agree with @ErikSchierboom, to take the `pig-latin` example, I would likely mark this with a `strings`  topic. The exercise concerns string handling but the student can perform that string handling in any way they choose that satisfies the tests.

Then, if the exercise is specifically intended to have the student use regular ex

[2018-06-24 13:05] coriolinus commented on #115
It might be useful to handle topics at the problem specifications level and
then let individual tracks make modifications as necessary, instead of
leaving everything to the individual tracks. I think our best chance of
achieving some kind of consistency across tracks and exercises is by
handling it that way.

On Sun, Jun 24, 2018, 13:52 toby <notifications@github.com> wrote:

[2018-06-25 18:48] Stargator commented on #115
I think the primary goal is to have topics that are broad and not specific to how the problem will be solved. For example, on the Dart track we have our solution solving the problem in a specific way using enums. The author of adding that problem to the track may only see that as **the way** to solve the problem, but there are certainly other ways around it.

[2018-07-27 21:36] Insti opened #116 "Mention ordering in configuration/exercises.md"
The order of exercises within the exercises array of config.json is significant.

The documentation: https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md

should be updated to mention this.

[2018-08-07 18:25] hickford opened #119 "Exercises based on problems with multiple solutions"
Hi. I was thinking about suggesting an exercise based on the n-queens problem:

However the ['make up new exercises'](https://github.com/exercism/docs/blob/master/you-can-help/make-up-new-exercises.md) instructions assume that a problem will have a unique solution for every input. In particular, it asks for "a set of sample test inputs and outputs that make up a reasonable test suite".

The n-quee

[2018-08-07 18:43] rsslldnphy commented on #119
Wouldn't it be possible to write an example based test for the n-queens problem, wouldn't it be possible to write an example-based test that would work for any given `n`, and then run the test for several values of `n`? Might not be quite as good as property based tests but probably sufficient and no more likely to lead to falsely succeeding tests than many other test suites?

Something like (and

[2018-08-07 18:43] petertseng commented on #119
https://github.com/exercism/problem-specifications/blob/master/exercises/dominoes/description.md has multiple solutions, assuming tracks are asking for the chain, rather than whether there is a chain. Therefore https://github.com/exercism/problem-specifications/blob/master/exercises/dominoes/canonical-data.json advises in the comments about how to do the property-based testing.

https://github.com

[2018-08-10 03:02] bencoman opened #120 "I Can Read C++ and Java But I Can’t Read Smalltalk"
Should we reference or intermix parts of this document (which I love) ?
[readingSmalltalk.pdf](https://github.com/exercism/docs/files/2276414/readingSmalltalk.pdf)

[2018-08-10 10:18] macta commented on #120
Oh yes - that should be near the top of the learning.md but possibly in the installation guide too.

[2018-08-10 10:25] macta commented on #120
Is that the best url for it?

[2018-08-10 11:59] bencoman commented on #120
If you search on the title you'll find a scattering of places its hosted,
but we've no control over them.
That url is the file I uploaded to the issue tracker.  I uploaded the whole
thing for discussion,
but I think its too long for a newcomer to absorb in one go.  I think first
4 pages are critical should be
shown right at the start, with a tiny extra bit only about period as a
statement separato

[2018-08-10 12:32] bencoman commented on #120
Whoops. Was this the right repo for this?  I thought I put it in the 'pharo' repo.

[2018-08-10 12:37] ErikSchierboom commented on #120
I think this is indeed the wrong repo :)

[2018-08-14 01:04] kytrinyx commented on #120
I can move it :)

[2018-08-14 01:05] kytrinyx commented on #120
_This issue has been imported to the https://github.com/exercism/pharo repository._

[2018-08-14 01:05] #120 closed

[2018-11-02 16:47] kytrinyx commented on #21
@donquxiote Oh shoot I missed this and now it's no longer October. I am _so_ sorry about that!

❤️ 💛 💚 💙 💜 🖤

Basically... yeah, it's still relevant!

[2018-11-05 14:30] donquxiote commented on #21
No worries! Even though it's not October I'd still like to take it on, the site's been a great tool and I'd like to give back, even a little.

[2018-11-10 01:08] petertseng commented on #115
Agreed that it might be useful. I used https://github.com/exercism/exercism/issues/4186 to discuss some particulars of the approach.

To summarise my read of answers from those gathered here, it appears that we favour topics that are essential to the problem and/or without a doubt necessary to to solve the problem, rather than those that are merely a possibility for solving the problem. Examples o

[2018-11-10 01:30] petertseng opened #121 "Request guidance for how to select the list of core exercises"
A search for "core" in this repository has a few hints, mainly https://github.com/exercism/docs/blob/master/about/conception/progression.md#meaningful-and-flexible-linear-progression-in-exercism

A very important portion of that text seems to be "For a student learning a completely new programming language, completing the 10-20 core exercises would give students confidence that they've touched on

[2018-11-10 01:30] #121 closed

[2018-11-10 01:45] petertseng commented on #121
Consider also some previous guidance:

https://github.com/exercism/discussions/issues/175#issue-244918424

[2018-12-01 16:36] kytrinyx commented on #21
@donquxiote I think we still have tracks that are not actively maintained. The best thing to do would be to open an issue in http://github.com/exercism/exercism/issues about it.

[2019-01-24 02:35] pgaspar opened #123 "Maintainer docs point to archived repo"
The [README.md](https://github.com/exercism/docs/blob/master/maintaining-a-track/README.md) file under `maintaining-a-track` points to the [exercism/discussions](https://github.com/exercism/discussions) repo which has been archived.

[2019-01-24 03:18] rpottsoh commented on #123
Should probably point to [exercism/exercism](https://github.com/exercism/exercism).  Line 90 of the [README.md](https://github.com/exercism/docs/blob/master/maintaining-a-track/README.md) would need to be updated.

[2019-02-11 06:10] #123 closed

[2019-05-30 18:08] petertseng commented on #10
Issue body has link https://github.com/exercism/docs/blob/master/contributing-to-language-tracks/improving-consistency-across-tracks.md but that seem to be 404 now. But I think https://github.com/exercism/docs/blob/master/you-can-help/improve-exercise-metadata.md#evolving-exercises is its equivalent.

[2019-07-11 23:41] Des333 opened #127 "Tools repository does not exist"
In instruction at https://github.com/exercism/request-new-language-track ("**How to bootstrap a new track**" -> "**One-time setup**"):

**"Tools"** it is link to https://github.com/exercism/tools

But this repo does not exist.
Or it is private repo.

[2019-07-11 23:52] #127 closed

[2019-07-11 23:53] Des333 commented on #127
I misread the instructions.
My apologies.

[2019-09-24 17:14] sameer-j opened #131 "Docs issue: Unable to find "contributing" section in sidebar"
Trying to follow the instruction given below, but not able to find the said location of contirbution in the sidebar.
https://github.com/exercism/docs/blob/master/you-can-help/implement-an-exercise-from-specification.md#finding-an-exercise-to-port

Please the update the doc if required or someone can help me understand this.

[2019-09-24 19:13] SleeplessByte commented on #131
You're right. That link no longer exists.

Just for my information: For which track were you trying to do this?

[2019-09-24 19:44] sameer-j commented on #131
Python. I am trying to contribute by implementing paasio exercise and was looking for a track to port this from.

[2020-09-11 04:01] Qazzquimby opened #136 "Mentor comment box missing tabbing"
When I'm mentoring I often want to write some code in a block, and need to mash space to add indentation.

There are tools to facilitate this
http://julianlam.github.io/tabIndent.js/
http://jakiestfu.github.io/Behave.js/

If I integrated something like that, would that be an appreciated pull request?

[2020-09-11 04:06] neenjaw commented on #136
@ihid or @ErikSchierboom can probably give you insight on this.

[2020-09-11 10:02] ErikSchierboom commented on #136
@Qazzquimby Thanks for the suggestion! We don't take PR's for the website at the moment, as we're hard at work on the v3 version of the website. We'll consider implementing your suggestion for the v3 website!

[2020-09-12 00:58] #136 closed

[2020-12-14 18:02] SleeplessByte opened #138 "Track configuration directory lacks document about canonical_data_syncer"
See: https://github.com/exercism/docs/tree/master/language-tracks/configuration

[2021-01-28 15:48] ErikSchierboom opened #139 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:52] ErikSchierboom commented on #139
As of today, the default branch of this repository has been changed to main.

[2021-05-21 18:09] #139 closed

[2022-11-19 10:45] #10 closed

[2022-11-19 10:45] #13 closed

[2022-11-19 10:45] #21 closed

[2022-11-19 10:45] #23 closed

[2022-11-19 10:45] #61 closed

[2022-11-19 10:45] #67 closed

[2022-11-19 10:45] #68 closed

[2022-11-19 10:45] #79 closed

[2022-11-19 10:45] #100 closed

[2022-11-19 10:45] #115 closed

[2022-11-19 10:45] #116 closed

[2022-11-19 10:45] #119 closed

[2022-11-19 10:45] #131 closed

[2022-11-19 10:45] #138 closed

[2022-11-21 18:25] vorenusCoA opened #413 "README.md file under building/github has broken links"
In the README.md file, under the "Guides" section, there are 3 broken links:

- [How to make a great Pull Request](https://github.com/exercism/docs/blob/main/docs/community/being-a-good-community-member/pull-requests)
- [The Contributors' Guide to Pull Requests](https://github.com/exercism/docs/blob/main/docs/building/github/contributors-pull-request-guide)
- [The Maintainers' Guide to Pull Reques

[2022-11-21 20:33] iHiD commented on #413
Thanks. Have you noticed the bit in bold at the top of the README in this repo?

All three of these links work when I click on them: https://exercism.org/docs/building/github

[2022-11-21 21:41] vorenusCoA commented on #413
Hi @iHiD, thanks for pointing that out (I hadn't seen it before).

You are correct, in the Exercism site the links work fine. A couple of questions:

- I was reading the README for the exercism/java repo which pointed me to this [file](https://github.com/exercism/java/blob/main/CONTRIBUTING.md). Inside that file there is a link to the README we are talking about. Should that link point to the Exer

[2022-11-21 22:18] iHiD commented on #413
Great - thanks.

Yes. If you'd like to PR that, we'll gladly merge. Pls @ErikSchierboom in the PR.

I'll leave Erik to decide that 🙂

[2022-11-22 07:24] vorenusCoA commented on #413
In order to have everything in the right place I will open an issue for updating the CONTRIBUTING file of the java track in the corresponding repo (and then will tag Erik in the PR).

Also, will open a new issue in this repo for removing the "extra link" and see if it is accepted.

Thank you @iHiD for the guidance.

[2022-11-22 07:24] #413 closed, assigned to nobody

[2022-11-22 07:47] vorenusCoA opened #414 "Suggestion - Remove "extra" link from building/github/README"
In the "Guides" section of the [building/github/README](https://github.com/exercism/docs/tree/main/building/github) file there are 2 links that point to the same article:

![image](https://user-images.githubusercontent.com/13053913/203253802-90fed2cf-8658-40d3-b8ed-4255f90ba463.png)

My suggestion is to remove the second one since both links take the user to the same place and the first one is pla