[2014-04-23 02:02] kytrinyx opened #5 "Figure out how to serve a proper 404 page"
it could be inspired by the 404 page on exercism: http://exercism.io/no-such-page

[2014-07-23 22:21] rsslldnphy opened #43 "F# help for mac"
I'm trying (and failing) to get the F# exercises running on my macbook. Happy to update the help with details once I get it sorted, but could someone point me in the direction of what I might be missing / doing wrong to get this error? Thanks.

[code]

[2014-12-10 21:02] txlonghorn4life opened #109 "cmake vs. visual stu"
Just to be clear, if we're using the Visual Studio Template available on Source Forge, is using cmake unnecessary?

[2015-01-12 16:06] segmentationfaulter opened #113 "do you plan to add C language?"
Any plans to add the C language support?
Thank you

[2015-01-12 16:33] kytrinyx commented on #113
Yepp: https://github.com/exercism/xc

I'm not sure what the timeline is, though.

[2015-01-28 13:24] jwood803 commented on #43
Perhaps this can be closed? The doc links to the Mac install guide on [F# Foundation](http://fsharp.org/use/mac/) which has several ways to install F#.

[2015-01-28 16:07] kytrinyx commented on #43
Yeah, that sounds good. Thanks!

[2015-01-28 16:07] #43 closed

[2015-03-01 22:19] bluerogue251 commented on #5
Is this site hosted on Rackspace like the main app is?  If so, it's possible this might apply:

http://docs.rackspace.com/files/api/v1/cf-devguide/content/Set_Error_Pages_for_Static_Website-dle4005.html

I could give it a try to make a 404 page for this.

[2015-03-03 16:31] kytrinyx commented on #5
Actually both this and the main app are still hosted on heroku. I'm going to rewrite the docs app to be a simple go binary and host it on rackspace, which will make it blindingly simple to serve a 404 page.

The problem has been that I don't really understand the lineman wrapper thing that I've been using, and which has turned out to not quite be a good fit for what this app needs to do.

[2015-03-15 10:18] kytrinyx opened #120 "Add a page in support of refactoring exercises"
From @pminten on the [mailing list](http://librelist.com/browser//exercism/2015/3/7/refactoring-exercises/#4cb8faf5884567301b2a2138bd91331e):

[2015-03-22 04:00] #120 closed

[2015-03-22 16:49] jwood803 opened #126 "Add Gitter Chat links"
Probably best to add to the main site and to the main help site.

[2015-03-22 16:52] kytrinyx commented on #126
Yeah, probably in the footer of the main site, and then the front page of the help site.

[2015-03-23 03:14] jwood803 commented on #126
Created a [PR](https://github.com/exercism/docs/pull/127) for this.

[2015-03-23 15:00] #126 closed

[2015-04-08 07:21] bartj3 opened #133 "Encoding problem"
There seems to be some kind of encoding problem on a couple of getting started pages:

- [coffeescript](http://help.exercism.io/getting-started-with-coffeescript.html)
- [elixir](http://help.exercism.io/getting-started-with-elixir.html)
- [lua](http://help.exercism.io/getting-started-with-lua.html)

The issue seems to be with non ascii characters (which can be found in the code using `ack [^[:asci

[2015-04-08 10:07] canweriotnow commented on #54
I think it's amusing to see

- [x] Lisp (not relevant)
- [ ] Clojure

Clojure does have much more structure and opinion than clisp but it's still tricky to lint.

If you want to update the list to include new tracks, you could squeeze in:

- [x] Scheme (not relevant)

:smile_cat:

[2015-04-08 13:42] kytrinyx commented on #54
It could be worth looking it, but overall if there's no strong communal sense of style, then it seems a bit forced to use a linter.

[2015-04-08 13:43] kytrinyx commented on #133
Yeah, it's my computer. Oddly enough, it's OSX as well. I'll take a look. Thanks!

[2015-04-08 16:42] verdammelt commented on #54
@canweriotnow Common Lisp implementations may or may not give style guides (warnings), for example SBCL does some. But there doesn't seem to be dedicated linters.

Clojure does have (at least) two linter type tools: kibit and bikeshed. But as @kytrinyx said the community doesn't seem to feel strongly about using them in the way that other communities (like JavaScript or C) do - so using them doesn

[2015-04-09 01:42] #133 closed

[2015-04-09 01:43] kytrinyx commented on #133
It works fine on mine as well, but it's being built on a linux box. Thanks for reporting it!

[2015-04-09 18:13] canweriotnow commented on #54
@verdammelt Yeah, I know - I actually switched to SBCL because Clozure CL (which emacs-prelude defaults to on OS X, I guess b/c of the Aqua bindings) has batshit crazy opinions about things that are normal in just about every other CL implementation.

As far as the Clojure tools - I haven't used bikeshed, but kibit is strongly opinionated based on the opinions of the authors (who are great and I g

[2015-04-10 04:40] canweriotnow commented on #60
To be clear, 'using leiningen to run the test suite' sounds like running `lein test` in a Clojure project, whereas the current instructions just call `lein exec` to load and execute a clj file...

Maybe this issue is outdated, but the current linked doc does show how to do the same thing (exec a test file) without leiningen: `java -cp clojure-1.5.1.jar clojure.main bob_test.clj`

[2015-04-10 05:40] kytrinyx commented on #60
I've never actually written any clojure, and so I didn't realize that there's a difference between `lein test` and `lein exec`.

I think that the docs probably got updated, so I'll close this issue.

Thanks!

[2015-04-18 06:37] canweriotnow opened #137 "Regression: Scheme Vanishes!"
I swear it was listed in the sidebar, and http://help.exercism.io/getting-started-with-scheme.html didn't 404, less than 48 hours ago, but now that Scheme shows up in the main app, it seems to have disappeared from the docs...

:sob:

[2015-04-18 06:55] kytrinyx commented on #137
wat! This is silly and I have no idea what happened! Looking now.

[2015-04-18 07:00] canweriotnow commented on #137
Isn't "expect silliness" the first rule of software?

[2015-04-18 07:01] kytrinyx commented on #137
It sure seems that way, but it always comes as a surprise. I appear to have never deployed it, or perhaps magically undeployed it at some point in the past couple of days.

[2015-04-18 07:02] #137 closed

[2015-04-18 07:03] canweriotnow commented on #137
Ah, cool. Thanks for looking into it!

[2015-06-04 03:39] canweriotnow opened #143 "IntelliJ Gradle task is incorrect"
Docs call for running `gradle intellij` to generate *.iml and .idea/ files for IntelliJ import - with result:

[code]

Running `gradle tasks` shows the correct task for this operation is `gradle idea`.

PR forthcoming shortly.

[2015-06-04 14:37] #143 closed

[2015-06-06 14:56] jtigger commented on #143
Poop!  I forgot the all important, "terrific! now, once again from the start" rule on doc writing. :-/

[2015-06-10 15:38] jtigger opened #146 "Provide context-free step-by-step Getting Started instructions for new-to-Java users"
Java's a bit of a pain to get started with.  Let's reduce the number of support requests we get by providing step-by-step instructions.

Use @canweriotnow 's excellent walk-through: https://gist.github.com/canweriotnow/d60f9a784f8cc4f59301

[2015-06-10 15:39] jtigger commented on #146
It's taking a while to get these fully baked and properly tested; this issue is to signal that I'm workin' on it! :)

[2015-06-12 13:56] kytrinyx commented on #146
Sweet :) I just saw the first PR. I'll leave this open for a bit as we see what further requests come in after #147 is merged and deployed.

[2015-06-14 05:58] jtigger commented on #146
Looks like we're not serving up HTML in UTF-8...

On my machine I see:

on the deployed site I see:

I notice that when served from the express app, locally, the `Content-Type` header includes the `charset=UTF-8` value; that is absent from the prod site.

Response headers from http://help.exercism.io/getting-started-with-java.html...

[code]

Response headers from http://localhost:8000/getting-sta

[2015-06-15 04:27] kytrinyx commented on #146
I made the mistake of using a custom framework that I don't understand for the docs. I've been meaning to rewrite it as a ruby/sinatra thing (since I can do that in my sleep, except for the part where I'm actually sleeping and therefore not writing code).

That said... how hard can it be, right? :)

[2015-06-15 04:50] kytrinyx commented on #146
I think I got it. Would you check on your end?

[2015-06-15 06:35] canweriotnow commented on #146
Somebody called a PR I sent out of frustration excellent.

My FOSS heart is so warm and fuzzy :)

On Mon, Jun 15, 2015, 00:50 Katrina Owen <notifications@github.com> wrote:

[2015-06-15 12:40] jtigger commented on #146
@kytrinyx — solid.  Thanks!

[2015-07-19 14:20] jtigger commented on #146
With that merge we have walkthroughs for the two key scenarios to support new-to-Java users.  I'm considering the OS X instructions sufficiently close as to be reasonably adaptable by anyone running a *nix distro.

[2015-07-19 14:20] #146 closed

[2015-07-20 16:48] NobbZ opened #153 "Teams"
According to my account page there seems to be a feature teams, I can't find any documentation about. Is this documentation on the to-do list?

[2015-07-20 16:48] NobbZ commented on #153
Oh, and what are teams about?

[2015-07-21 03:26] kytrinyx commented on #153
Hey! The teams feature is a completely not-thought-through hack that lets people keep track of each other. Ideally I want to replace it with a proper [activity stream](https://github.com/exercism/exercism.io/issues/1899).

It isn't documented (but it absolutely should be).

In the account page it should be possible to click on something like "add a team" or "create a team", which will let you invi

[2015-07-25 11:36] NobbZ opened #155 "Add a list of mentors/responsible persons to a tracks language guide"
Add a section about whom to ping after one was a long time without any nits.

I've done quite a large number of exercises in C++ and started some random tracks. Many of them only have a very low count of views, and even less nits or “great code” clicks.

So I'd like to ping some users that are known valuable persons for that track or responsible for it, but I can't find a reliable source of valuab

[2015-07-25 17:14] kytrinyx commented on #155
Yes, this would be very helpful.

This is actually one of the important problems that we're trying to figure out how to address from a number of different angles.

[2015-08-03 03:55] ekse opened #161 "getting-started for rust should mention which version to use for the exercises"
should the exercises be done with the current stable release 1.1 or is rust-nightly acceptable?

[2015-08-04 17:35] kytrinyx commented on #161
That's a good question. /cc @pminten @etrepum

[2015-10-19 02:33] ZacharyRSmith opened #173 "Add to Exercism Alternatives"
[ElevatorSaga](http://play.elevatorsaga.com/) provides 19 increasingly difficult challenges in JavaScript. I find it fun, though it is not extensive enough to call it an Exercism "alternative".

<img width="1280" alt="screen shot 2015-10-18 at 10 33 06 pm" src="https://cloud.githubusercontent.com/assets/7988520/10568582/396ae950-75e8-11e5-87a2-c93207d51365.png">

<img width="1280" alt="screen shot

[2015-10-19 02:34] kytrinyx commented on #173
Sweet! No, anything that is an alternate place to go find exercises and challenges makes the list :)

[2015-11-15 15:27] ZacharyRSmith commented on #173
Also, I haven't done any, but [this](http://nifty.stanford.edu/) looks very promising.

[2015-11-15 16:20] kytrinyx commented on #173
that's brilliant! Would you add it to the list if you have a moment?

[2015-11-15 16:21] kytrinyx commented on #173
This reminds me, I have to either figure out what has gone horribly wrong with the docs deployments, or move the documentation to x-common and deliver it to the main site via the x-api.

[2015-11-16 14:11] ZacharyRSmith commented on #173
if i find/make the time, i'll try to figure out how to add em to the list. ( :

i also wonder if it would be beneficial to eventually add some kind of voting on this list? help people find the good stuff

[2015-11-16 15:45] kytrinyx commented on #173
It's in `app/pages/topics/alternatives.md`

To be honest I don't really care too much about how they're ranked, only that we list them so people can look at if they want to. I'm sure folks will google them to find reviews and things if they're curious about what other people think.

[2015-12-04 21:25] kytrinyx commented on #173
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:25] #173 closed

[2015-12-04 21:25] kytrinyx commented on #161
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:25] #161 closed

[2015-12-04 21:25] kytrinyx commented on #155
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:25] #155 closed

[2015-12-04 21:25] kytrinyx commented on #153
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:25] #153 closed

[2015-12-04 21:26] kytrinyx commented on #113
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:26] #113 closed

[2015-12-04 21:26] kytrinyx commented on #109
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:26] #109 closed

[2015-12-04 21:26] kytrinyx commented on #108
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:26] kytrinyx commented on #108
Oh, also: this is solved :) Yay. For once.

[2015-12-04 21:26] kytrinyx commented on #5
I'm deprecating this repo in favor of moving the specific bits of documentation closer to where it's needed. See the README for details.

[2015-12-04 21:26] #5 closed

[2020-04-13 10:50] wolf99 opened #29 "[CI] Spell-check for documentation?"
Would it be possible to add spell checking to CI for documentation (both student-facing and reference)?
Possibly extending to all markdown files (or other doc file types) throughout.
Depending on the method used there could be potential to extend to code samples and stubs, for languages that opt-in (may cause issues, for example in C with function names like `strlen()`) .

### Justification:

Ther

[2020-04-13 13:59] ghost commented on #29
Great idea @wolf99! There is a plugin [retext-spell](https://github.com/retextjs/retext-spell) that uses Hunspell I think. I've seen other OSS teams leverage this to unify contributions in a great way. (https://github.com/ember-learn/guides-source/blob/d35a871a417e9c425a945369b849b0864cba1a23/.remarkrc.js has an example configuration for remark)

[2020-04-15 21:46] wolf99 commented on #29
Possibly also @SaschaMann as CI related, I think that's your wheelhouse - thoughts?

[2020-04-15 22:12] SaschaMann commented on #29
Sounds good. Ideally it should add inline annotations or, better yet, suggestions to automatically fix the spelling mistake. Perhaps there are actions for it on the marketplace already. I think having it as a normal pass/fail check might be quite bothersome.

[2020-04-15 22:25] wolf99 commented on #29
Good suggestions both.
I'll look into it for PR. I'm not at all au fait with GitHub actions so it may take a wee while 😄 )

[2020-05-16 20:36] wolf99 commented on #29
Just as FYI here, life has got really busy since making above assertion. I'm having trouble fitting time in for even any v2 track maintenance effort. So if anyone else wants to pick this up until I get back to things, be my guest 😉

[2020-06-10 05:16] mikedamay opened #28 "[Roadmap] Does Exercism Teach Everything I Need to Know?"
This is feedback on the v3 roadmap (#690) and the first few sections of the [Concept Exercises](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md) document.

### Role of Concept Exercises

I wonder if it would be possible to say something in the roadmap-type docs about the role of concept exercises in the student’s wider learning experience.  Do we think that following the track

[2021-01-28 15:53] ErikSchierboom opened #26 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-28 19:49] angelikatyborska commented on #28
@iHiD This roadmap feedback issue was never addressed by you

[2021-01-28 20:09] ghost opened #27 "standardize a core maintenance label taxonomy"
As a maintainer, I would like to leverage a shared vocabulary for managing a track.
I believe we'll capture this somewhere but wanted to jot down this idea in case we don't.

## one example
@exercism/rust has multiple generations of labels:
- GitHub defaults? "good first issue"
- prior maintainer taxonomies
- me adding a `v3` label to triage issues migrated from @exercism/v3.

By unifying these la

[2021-01-28 20:18] SaschaMann commented on #27
Julia uses these labels, which are based on the JS track but extended: https://github.com/exercism/julia/blob/main/.github/labels.yml

It uses [an action](https://github.com/micnncim/action-label-syncer) to keep them in sync with the file.

[2021-01-28 22:51] iHiD commented on #28
@angelikatyborska Thanks. I'm going to move this to exercism/docs. I imagine @mikedamay has as much knowledge as anyone on this now, but I don't want the general point to disappear :)

I'll try and address these both in all the docs we're making and also on the website itself more clearly. Mike - please feel free to hold me to this!

[2021-01-28 23:30] iHiD commented on #27
I'd *really* like to do this right. Primarily because I'd like to be able to do things with the labels across Exercism. For example, say "Want to check some grammar - check these issues". "Want to improve some stories - check these issues". And then let people filter by track etc. I think this could really open doors to early contributions.

_[Insert general rant that people like doing different t

[2021-01-29 08:49] ErikSchierboom commented on #26
As of today, the default branch of this repository has been changed to main.

[2021-01-30 13:38] SleeplessByte commented on #27
I'm pretty averse to changing what JavaScript (and TypeScript, and all the tooling) has been using for the past years, so the proposal needs to be incredibly solid for me to give it my support.

[2021-01-30 13:42] SleeplessByte opened #31 "The .meta/config.json spec is not aligned to the linting rules"
https://github.com/exercism/docs/blob/4ef28e2ecb4a70f42c2974fa73f091c9a98b8127/anatomy/tracks/concept-exercises.md#file-metaconfigjson is not in line with https://github.com/exercism/docs/blob/7cd2be0d25f290407b9ddcdf8a3f42394da084b6/anatomy/tracks/configlet/linting.md#rule-exercisesconceptslugmetaconfigjson-is-valid

This means that what the spec is needs to be extracted from those two documents

[2021-01-30 16:42] iHiD commented on #27
@SleeplessByte Maybe the rest of us could benefit from adopting what JS has done 🙂 Do you have a document etc describing it?

[2021-01-30 18:04] iHiD commented on #31
To be clear (because I'm a little unsure of the title of this issue), are you pointing out that the `concept-exercises.md` hasn't yet been updated to include the `files` hash that we added on Thursday? (In which case I'll rename this issue to that for clarity).

Or is there a bigger issues that you're getting at, which I'm not understanding? :)

[2021-01-30 18:08] SleeplessByte commented on #31
I'm talking about there not being a clear spec in how `<slug>/.meta/config.json` should look :)

That's all 😄

[2021-01-30 18:12] iHiD commented on #31
Yeah, so the example has not been updated to contain that key. As far as I can see, the rest of the example is correct. I'll put a PR together now :)

[2021-01-30 18:15] SleeplessByte commented on #31
Cool! I hoped it was only that missing, but couldn't be certain.

[2021-01-30 18:22] iHiD commented on #31
I've just checked. It's already been updated. You're not looking at `main` for some reason...

[2021-01-30 18:22] iHiD commented on #31
https://github.com/exercism/docs/blob/main/anatomy/tracks/concept-exercises.md#file-metaconfigjson

<img width="1066" alt="Screenshot 2021-01-30 at 18 22 27" src="https://user-images.githubusercontent.com/286476/106364652-8f5cd700-6328-11eb-91de-6891b3dcaac8.png">

[2021-01-30 18:32] iHiD commented on #31
Let me know if you followed a hard-coded link to those files from somewhere, where it should be a link to `main` instead. I've checked this repo and can't see it, but it could easily be in one of the other repos! :)

[2021-01-31 21:16] SleeplessByte commented on #31
It was search.

[2021-01-31 21:16] #31 closed, assigned to nobody

[2021-01-31 21:23] SleeplessByte commented on #27
Basically this: https://github.com/exercism/julia/blob/main/.github/labels.yml

I left `invalid`, `help wanted` and `good first issue` without emoji, because they are special in tooling. The reason I'm a bit change resistant is that we have links to the search with the issue label(s) including the emoji in the name in various documents 👯.

Here are the important ones:

- bug 🐛 : actual bug
- chore

[2021-01-31 21:43] iHiD commented on #27
Great. That's a great list. Thanks.

So the ones I'd be keen to add would be things that are for specific types of checks. e.g.:
- `wip/proof-reading`: Issues for exercises in a WIP state that need proof-reading
- `wip/content-checking`: Issues for exercises in a WIP state that require their content checking
- `wip/story-writing`: Issues for exercises in a WIP state that require their stories writ

[2021-01-31 22:32] SleeplessByte commented on #27
Yeah, I could see sets for specific things like wip. That wouldn't be bad :)

[2021-02-01 11:49] SaschaMann commented on #27
We could use the action and yml file to create a base set of labels that are synced across repos. Tracks could then add to the label file in their CI script. Technically they could also remove standard labels in the same way but that could be prevented by setting the right codeowners for the workflow.

[2021-02-12 16:49] verdammelt opened #54 "Practice Exercise spec mentions problem-specification introduction file - none exist."
The [practice exercise spec](./anatomy/tracks/practice-exercises.md) mentions that `.docs/introductions.md` is required if the problem specification has a `introductions.md` file. But it does not look like *any* problem specification exercise has such a file.

It appears in my track that the `.docs/introduction.md` file was derived from the problem specification exercises' `description.md`. Should

[2021-02-12 16:54] verdammelt commented on #54
I can put in a PR to fix this if someone can confirm the reference is incorrect.

[2021-02-12 16:58] verdammelt commented on #54
Closing this issue - I believe I was confused between 'introduction' and 'instruction'. I see that instruction file is defined to be  derived from the problem specifiation description file.

Sorry for the noise.

[2021-02-12 16:58] #54 closed, assigned to nobody

[2021-02-12 16:58] iHiD commented on #54
@verdammelt Good spot. The aim is to migrate **all** problem specs from a single `description.md` file to `introduction.md` and `instructions.md`. However, we don't want anything blocked by this, so we're respecting `description.md` for now, and then also `intro/instructions` when they're done.

We decided not to rename the `description.md` to `instructions.md` as having them with the old name all

[2021-02-12 16:59] iHiD commented on #54
@verdammelt Not noise! Let's get it clarified better in the docs :)

[2021-02-16 18:23] BethanyG commented on #27
I don't have time at the moment to list them all out, but Python is using a slightly different list that we'd like to keep.  I don't think we deviate _too_ far from JS or Julia (_I cribbed most from of the tags from JS_)...but I have added/altered some.  I am also rather attached to my emoji and color choices.  😉 .  Rather than use a tag for V3 🚀 , we're using an Issue title/project/milestone comb

[2021-02-16 18:37] BethanyG commented on #27
I like the WIP tags.   Right now, I am folding tasks like those into "improvement issues" as a checkbox.  See [Python issue #2342](https://github.com/exercism/python/issues/2342), but separating and tagging is probably a better strategy.

[2021-02-16 18:45] SleeplessByte commented on #27
(Sidenote. `good first issue` is a "special" tag that some things such as GitHub use to indicate issues to first-time contributors. Seems to not work when there is an emoji in there, which may or may not be okay).

[2021-02-16 18:59] iHiD commented on #27
@BethanyG Thanks :) I'm excited about getting a really great superset of all these.

[2021-02-16 19:23] BethanyG commented on #27
@SleeplessByte  - yeah. 😸   Was going to note that I might need to cull (_who needs both "needs review" and "please review"?_) or edit out the emoji certain places -- especially if it breaks things like `good first issue`, which would defeat the whole purpose!

[2021-02-17 21:32] ghost opened #60 "specify exercism wide code of conduct using a public .github repository"
As a maintainer I would like the fancy green icons for my repository.
Besides vanity, I hope it will improve our rankings in the Proprietary Algorithms.

It looks like you can specify a default code of conduct for all public repositories within your organization:
https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file#about-default-community-health-fi

[2021-02-17 22:04] iHiD commented on #60
https://github.com/exercism/.github/

[2021-02-17 23:56] iHiD commented on #60
Where does said green tick appear?

[2021-02-18 14:05] SaschaMann commented on #60
If you're refering to the checklist in Insights -> Community, it doesn't actually work reliably. According to that list the Julia track lacks a readme, contributing guide and CoC, despite having all of those.

[2021-02-18 16:47] ghost commented on #60
thanks @iHiD!
I checked the icons at: https://github.com/exercism/rust/community.
I did see the CoC appear when I prepared to open a PR just now.
Like Sascha, I do not see it there LOL. But it does show up in the PR process which seems more important.

[2021-02-18 17:42] SaschaMann commented on #60
When I refresh on that page for the Rust track, the state of README and CoC change... 🤔

Yup, it would be good to have for that reason too.

[2021-02-18 17:47] iHiD commented on #60
It changes for me every time I refresh 🤷  I've opened a support ticket and pointed them to this issue :)

[2021-02-19 21:59] BethanyG commented on #27
Went through and did some housekeeping.  Here's the Python set:  https://github.com/exercism/python/blob/main/.github/labels.yml

[2021-02-24 14:15] ghost commented on #29
As a maintainer and avid grammarian, I would love if the spell check could check the `description` field of `links.json`.
This snippet would extract them when executed in a track's repository:
[code]

[2021-03-01 15:00] loziniak opened #71 "shared docs files unclear"
There is a difference in file list of `exercises/shared/.docs` files between [Shared Files](https://github.com/exercism/docs/blob/main/anatomy/tracks/shared-files.md#track-specific-files) (debug.md,  help.md, tests.md) and [Track Anatomy Example](https://github.com/exercism/docs/tree/main/anatomy/tracks#example)  (debug.md,  cli.md).

[2021-03-02 20:18] glennj opened #79 "Key Features in config.json -- icons?"
https://github.com/exercism/docs/blob/main/anatomy/tracks/config-json.md#key-features

So the item does not get lost: a list of icons is promised as a TODO.

Does this imply there will be a finite set of key features to choose from?

[2021-03-02 20:57] BethanyG commented on #79
I am curious about this as well, considering the "key features" for Python aren't necessarily "standard" (_batteries included_ for example).

[2021-03-02 23:09] iHiD commented on #79
We'll determine icons for the key features once all/enough tracks have merged their key features. They others will get stuck with a subset of icons to choose from.

[2021-03-03 00:56] iHiD commented on #60
They've just responded saying it should now be fixed.

[2021-03-03 21:46] ghost commented on #60
I verified it is. Complete with browser reload bingo.
Thank you for coordinating @iHiD!

[2021-03-03 21:46] #60 closed, assigned to nobody

[2021-03-08 15:31] ghost commented on #29
This action has the most actions stars: https://github.com/marketplace/actions/github-spellcheck-action
- uses [pyspelling](https://facelessuser.github.io/pyspelling/)
- aspell or hunspell

[2021-03-08 17:42] iHiD commented on #29
@SaschaMann This is a good target for an org-wide check.

[2021-03-13 13:51] SaschaMann opened #83 "Do concept blurbs support Markdown?"
Exercise blurbs do not support markdown according to https://github.com/exercism/docs/blob/e835d0de9bcee1825628b87542a5bf86a7fce5c9/anatomy/tracks/concept-exercises.md#file-metaconfigjson

The docs on Concepts don't specify whether or not the blurb supports Markdown. Does it?

[2021-03-13 17:31] iHiD commented on #83
No they don't. PR appreciated.

[2021-03-14 11:34] SaschaMann commented on #83
I'm blind, it's in https://github.com/exercism/docs/blob/main/anatomy/tracks/config-json.md#concepts

[2021-03-14 11:34] #83 closed, assigned to nobody

[2021-03-28 12:51] mpizenberg opened #101 "links to "anatomy/" still in a lot of places"
Hi, it seems the `anatomy/` has been renamed into `building/`. I noticed it by arriving on a 404 from a link in another issue. It seems there are still many places referencing the old name and using old links like in the readme of this repo for example.

[2021-03-28 14:04] iHiD commented on #101
Thanks for the heads up. 🙂

I imagine most of the links in here are currently broken. We'll go through and fix everything (and add a link-checker) before launch.

[2021-03-31 21:42] iHiD opened #104 "Consider moving "Migrate from Travis" to it's own doc"
Consider moving "Migrate from Travis" to it's own doc.

Rationale:
1. It's irrelevant for 99% of people wanting to learn about our CI, but makes the doc feel longer/scarier by being there.
2. At the top we link to it straight away for people who want to learn about it - having a specific doc for it feels like a nice optimisation to send them to.

[2021-03-31 22:24] SaschaMann commented on #104
Do you know if there are any tracks left on Travis? Otherwise we might as well delete it.

[2021-03-31 23:36] iHiD commented on #104
There are [somewhere just below 54](https://github.com/search?q=org%3Aexercism+filename%3Atravis.yml&type=Code&ref=advsearch&l=&l=)... **sigh**

[2021-03-31 23:37] iHiD commented on #104
(These will go on my "Good first issues for getting some reputation" page 😉)

[2021-04-01 15:40] #104 closed, assigned to SaschaMann

[2021-04-04 16:11] iHiD opened #108 "Updating linting doc with deprecated rules"
Could you also update the `linting.md` document?

_Originally posted by @ErikSchierboom in https://github.com/exercism/docs/pull/107#discussion_r606329059_

[2021-04-06 12:32] #108 closed, assigned to nobody

[2021-04-11 08:21] ee7 opened #114 "lint: what is a "titleized string"?"
[lint.md](https://github.com/exercism/docs/blob/main/building/configlet/lint.md) contains:

What is the definition of "titleized string"? Some possibilities:
1. A string that has an uppercase letter as the first character
1. A string that, if the first character is a letter, that letter must be uppercase (this allows e.g. a digit as the first character)
1. A string where each word has an uppercase

[2021-04-11 11:46] iHiD commented on #114
Titles can contain unicode and can start with numbers, and potentially start with lower case letters (e.g. An exercise called "nth degree" should probably not be "Nth degree" etc).

The meaning of titliezed is something that is written in natural english (as opposed to kebab-case) that follows some set of [Title case](https://en.wikipedia.org/wiki/Title_case) rules - probably Chicago for my money.

[2021-04-11 13:14] ee7 commented on #114
OK, thanks. We can clarify that in the `lint.md` glossary when we get around to it.

OK. Currently it's "Sum Of Multiples" in every track `config.json` file, just FYI.

Counting the number of track `config.json` files that contain each string:
[code]

Follow-up questions, then:
1. Should acronyms be all-uppercase in the `name` of an exercise?
2. Should `configlet lint` enforce the correct capitali

[2021-04-11 13:40] iHiD commented on #114
OK, Thanks.

Yeah, ETL not Etl

That seems sensible to me where possible. I'd suggest having the `name` in problem-specs itself if it's not already. But I'd also say it's probably not the highest priority as updating names is easy and has low consequences. (Unlike say slugs, where changing is a bigger deal).

[2021-04-27 18:36] SaschaMann opened #122 "Port docs on design of concepts & concept exercises from v3 repo"
The v3 docs contained information on the design of concepts and concept exercises that went beyond the technical spec: https://github.com/exercism/v3/blob/main/docs/concept-exercises.md#how-are-concept-exercises-designed-and-structured

These are currently not available in /docs but are quite useful for people who aren't intimately familiar with the ideas behind v3.

(Mostly creating this issue to

[2021-05-12 12:44] #114 closed, assigned to nobody

[2021-05-21 18:09] #26 closed, assigned to nobody

[2021-06-18 10:54] ee7 opened #149 "Clarify use of `x:type` label"
The description of each `x:type` label might not convey the intention. The docs say that it "describes how much Exercism knowledge is required", but the description of each tag begins with "work on", which is the same as the description for `x:module`.

Should the description for each `x:type` label instead be something like "requires knowledge of foo"?

I'm making this issue partly to ask: how do

[2021-06-18 10:58] iHiD commented on #149
That sounds like the `knowledge` tag, not the `type` tag.

[2021-06-18 10:59] iHiD commented on #149
We'll probably have a module/configlet tag that gets added automatically to all issues in this repo.

[2021-06-18 11:02] ee7 commented on #149
Ah, it looks like the fix for this issue involves changing the below. Currently, the description of `x:knowledge` and `x:type` is the same:

https://github.com/exercism/docs/blob/eb4abf37c5a7a51f9865928d7719721016cbe293/product/tasks.md#L33-L35

https://github.com/exercism/docs/blob/eb4abf37c5a7a51f9865928d7719721016cbe293/product/tasks.md#L70-L72

[2021-06-18 13:53] #149 closed, assigned to ErikSchierboom

[2021-06-24 23:26] verdammelt commented on #71
@loziniak It seems both links in the description are no longer valid - could you update this issue with corrected links?

[2021-06-25 12:10] ee7 opened #162 "[CI] Check relative links are correct"
Not a priority for now, but it would be nice to have a script that does something like:
- For every markdown file:
  - For every link:
    - If it's a relative link:
      - Check that it resolves to a file in this repo, using the logic that the website uses (no `.md` extension, etc)
      - Bonus: check that any anchor is correct too

[2021-06-25 12:13] ee7 opened #163 "Meta docs: Document how relative links in this repo work"
A newcomer to this repo will otherwise be confused that, when browsing pages on GitHub, the links don't work.

[2021-06-25 13:30] SaschaMann commented on #162
Could probably use Erik's link check tool for this again: https://github.com/exercism/v3/blob/main/.github/workflows/valid-links.yml

[2021-06-29 10:20] axtens opened #165 "Link to "user-facing" 404s"
On <https://github.com/exercism/docs> the third of the toplevel repositories, viz "user-facing: User facing docs for FAQs, help, etc" 404s.

[2021-06-29 10:53] axtens opened #166 "Link to Concepts in vbnet/issues/65 404s"
In [vbnet/issues/71](https://github.com/exercism/vbnet/issues/71) there's a link to [Add prerequisites to Practice Exercises](https://github.com/exercism/vbnet/issues/65) which has a link to [Concepts](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/concepts.md). This last link 404s.

[2021-06-29 10:56] iHiD commented on #166
@axtens That seems like an issue with that issue having the wrong link, rather than something that needs changing in docs?

[2021-06-29 10:58] axtens opened #167 "Concept Exercises link in vbnet/issues/69 404s"
in [[v3] Update status of track #69](https://github.com/exercism/vbnet/issues/69) has a link [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/concept-exercises.md). This 404s.

[2021-06-29 14:21] axtens commented on #166
So then it's not worth reporting? Or should I be reporting it in vbnet's issues? @iHiD

[2021-06-29 18:15] iHiD commented on #166
I would comment on the issue itself saying "the links on this are wrong" and then the author of the issue can correct them. There's just no change to make in this repository, so the issue isn't actionable here, which makes it likely it'll sit here going stale.

As you have write access to the vbnet repo, I'm pretty sure you can actually just edit the issue and repoint the links as well if you want

[2021-07-03 18:29] iHiD opened #172 "Proofread mentoring docs"
The docs in the mentoring section (initially added here) need proofreading and probably fixing up.

Please submit a PR with any changes that you think should be made!

[2021-07-20 13:00] ee7 opened #180 "Document the files in the `docs/` directory of a track repo"
This repo should document the files in the `docs` folder of a track repo:
- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/SNIPPET.txt`
- `docs/TESTS.md`

Currently, we only mention them in `building/configlet/lint.md`.

This issue is a follow-up of https://github.com/exercism/docs/pull/179#pullrequestreview-710256653

[2021-07-23 11:53] ee7 opened #189 "Show key feature icons somewhere"
Can we show the icons in [building/tracks/config-json.md](https://github.com/exercism/docs/blob/main/building/tracks/config-json.md)? And if so, how?

---

I'm thinking of something like this:

![`community`](https://raw.githubusercontent.com/exercism/website-icons/main/key-features/community.svg) `community`

![`concurrency`](https://raw.githubusercontent.com/exercism/website-icons/main/key-featu

[2021-08-21 21:26] iHiD opened #198 "Create MIT and CC Licences"
They should be:
[code]

[2021-08-22 13:43] iHiD opened #199 "Add a link checker"
Add a link-checker that checks internal links (with reference to the website, not the relative links)

[2021-08-22 15:15] iHiD commented on #199
Probably a dup of https://github.com/exercism/docs/issues/162

[2021-08-22 15:16] iHiD commented on #27
As an update, we've largely done this with the `x:` labels, which are consumed by the website.

Do people feel there is value in adding further labels not used by the website, or should we consider this done?

[2021-08-22 15:17] iHiD commented on #165
Fixed. Thanks.

[2021-08-22 15:17] #165 closed, assigned to nobody

[2021-08-22 15:55] BethanyG commented on #27
I think there are people who won't interact with the website to look for issues/tasks.  I also think there are tasks that for whichever reason might not end up listed on the website, but still need to be tracked or addressed.  Not sure if those categories warrant exercism-wide labels, or if they're fine being labeled on a track-by-track basis.

Will there be explanations of the `x` tags and/or lin

[2021-08-22 17:24] iHiD commented on #27
When the `x:` tags are added, a (bot) comment will be added to the issue explaining them, and then subsequently updated when the labels are updated. So someone looking at the issue shouldn't have to look anywhere else to know what to do (in terms of the high level categories). That said, I'd imagine most issues have descriptions detailed enough to superceed most of these comments anyway, so it's r

[2021-08-24 06:27] ErikSchierboom commented on #27
@BethanyG We have this page: https://github.com/exercism/docs/blob/main/product/tasks.md

[2021-08-24 07:52] ErikSchierboom commented on #162
I've recently found `lychee`: https://github.com/lycheeverse/lychee This tool is much more full-featured than my tool and a lot faster (it's built in Rust).

[2021-08-24 11:13] iHiD commented on #162
Nice. The challenge here is probably the fact that relative links are relative in the context of the website; the therefore the race-condition of new links being added but not merged, so not appearing in the website.

I feel like we probably need to build out the array of all routes from the config.jsons, and then check against that?

[2021-08-24 12:46] ErikSchierboom commented on #162
Yeah, I think that's probably best

[2021-08-30 06:27] ErikSchierboom opened #209 "🤖 Document sync error for commit d2cc02"
We hit an error trying to sync the latest commit (d2cc02322b22427c0dfc163c0a6c0846fe5c9dfe) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-30 06:27] ErikSchierboom opened #210 "🤖 Document sync error for commit d2cc02"
We hit an error trying to sync the latest commit (d2cc02322b22427c0dfc163c0a6c0846fe5c9dfe) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-30 06:27] ErikSchierboom opened #211 "🤖 Document sync error for commit d2cc02"
We hit an error trying to sync the latest commit (d2cc02322b22427c0dfc163c0a6c0846fe5c9dfe) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-30 06:27] ErikSchierboom opened #212 "🤖 Document sync error for commit d2cc02"
We hit an error trying to sync the latest commit (d2cc02322b22427c0dfc163c0a6c0846fe5c9dfe) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-09-01 01:31] iHiD opened #217 "Proof read and flesh out editions docs"
Everything under https://exercism.lol/docs/using/editions is a stub and could do with some love. Make magic happen ✨

[2021-09-01 17:58] jmh-git commented on #217
I believe, this sentence misses a word (added in bold):
In 2019, we launched Exercism Research - a subsite of Exercism focussed on using our data and community to learn more about **how** we learn.

[2021-09-01 18:00] jmh-git commented on #217
Typo (corrected in bold):
However, as Exercism grew, the small-team aspects didn't fit with our larger mentoring platform, and so we **separated** that out into a seperate edition: Exercism Teams.

[2021-09-01 18:07] jmh-git opened #230 "product link broken in Readme.md"
Clicking on product link in Readme.md leads to 404 return code.

[2021-09-02 16:11] kotp commented on #217
If you can @jmh-git you can provide a pull request.

[2021-09-03 12:01] OranShuster commented on #167
Actually all of the links in that issue 404s
I tried to but couldn't find the correct place they should point to

[2021-09-05 16:27] JaPrad commented on #230
The same is the case with the `user-facing` link. It is broken

[2021-09-05 16:37] JaPrad opened #239 "Broken link in mentoring docs - Choosing solution to mentor"
The link at the end of [this](https://github.com/exercism/docs/blob/main/mentoring/choosing_a_solution.md) page is broken

[2021-09-06 02:51] JaPrad opened #243 "Broken Links in README of mentoring docs"
The 2 links [here](https://github.com/exercism/docs/blob/main/mentoring/README.md) lead to error 404

[2021-09-07 06:48] ErikSchierboom commented on #239
@JaPatGitHub Thanks for reporting! This will be fixed in https://github.com/exercism/docs/pull/248/files.

[2021-09-07 07:04] #239 closed, assigned to nobody

[2021-09-07 07:34] #101 closed, assigned to nobody

[2021-09-07 09:08] ErikSchierboom commented on #243
Those docs are rendered on https://exercism.org/docs/mentoring and for that URL, the URLs are valid. This is confusing, I admit.

[2021-09-07 09:08] #243 closed, assigned to nobody

[2021-09-07 09:13] ErikSchierboom commented on #230
Those docs are rendered on https://exercism.org/docs and for that URL, the URLs are valid. This is confusing, I admit.

[2021-09-07 09:13] #230 closed, assigned to nobody

[2021-09-08 03:19] Eddie-Hartman opened #250 "Block access to mentoring if you have no slots remaining"
After the before the upgrade to v3, I had 4 exercises waiting for mentor feedback. After the upgrade, I planned on putting them back into the mentor queue, but was hit with

You can get more mentoring slots by earning reputation.

but didn't see how much reputation would net me more slots. So I think this prompts the addition of a section for showing what other potential rewards (other than badges

[2021-09-08 09:07] vijaynyaya commented on #167
This is my first open-source contribution. It seems you are looking for the following file:
https://github.com/exercism/docs/blob/main/building/tracks/concept-exercises.md

[2021-09-09 06:33] Bajger opened #253 ""Creating a Test runner" instructions link does not work on Test Runner page"
**Bug description**
Link on Exercism web docs to a page doesn't work and ends up with Internal server error 500.

**To Reproduce**
Steps to reproduce the behavior:
1. On Exercism web docs page: https://exercism.org/docs/building/tooling/test-runners
2. Click on  creating a Test Runner (that refer to: https://exercism.org/docs/building/tooling/creating-from-scratch.md)
3. I ends up with error: "500

[2021-09-09 06:37] ErikSchierboom commented on #253
The correct link is: https://exercism.org/docs/building/tooling/test-runners/creating-from-scratch A PR is much appreciated!

[2021-09-09 06:43] Bajger opened #254 ""General Tooling Docker information instructions" link on Docker web page navigates to same page."
**Bug description**
Clicking on "General Tooling Docker information instructions" link on Docker web page navigates to same page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Docker page: https://exercism.org/docs/building/tooling/test-runners/docker
2. Click on "general Tooling docker information"
3. Same page is refreshed.

**Expected behavior**
A description about Docker tooling

[2021-09-09 06:47] ErikSchierboom commented on #254
The right link is: https://exercism.org/docs/building/tooling/docker

If you're interested in doing a PR, could you check if there are more places where the invalid link is used?

[2021-09-09 07:18] Bajger commented on #254
Right! I found two links that are invalid (created separate issue for another). Probably this is overkill, but I'll leave it for these 2 links/issues and consequently PRs. I was particularly interested in how to make a test runner for Pharo track. Therefore I went trough this. I may go through rest of Building chapter and test links, if needed.

[2021-09-09 07:25] ErikSchierboom commented on #254
That would be great!

[2021-09-09 15:47] JaPrad commented on #250
Hello @Eddie-Hartman!
The no. of reputations you need to unlock next slot must be visible just above your mentoring slot

Consider this from my javascript track:
![image](https://user-images.githubusercontent.com/73636668/132717436-8ec8677c-cdae-4339-a425-178984012fc3.png)
You must be seeing `Next slot unlocks at 100 rep` in the above screenshot

Does your interface display something else?
Could y

[2021-09-09 16:55] Eddie-Hartman commented on #250
Just to be clear, I'm not asking about me being a mentor, but for getting mentored. I don't know where you went to see the above, but the point kind of being that I was presented with this screen, but there is no info on how much reputation I need to unlock another slot or a link to see. Just a link to the wiki on what reputation is. I see this when I try to request mentoring on another exercise:

[2021-09-09 20:34] iHiD commented on #250
@Eddie-Hartman Scroll down the track page a little and you'll see what @JaPatGitHub is talking about.

[2021-09-09 23:17] Eddie-Hartman commented on #250
@JaPatGitHub @iHiD Perfect! Thank you.

For closing this, I think it would simply be beneficial to see that section on the page where you've ran out of slots so that you can see the currently mentored exercises and how much reputation to unlock the next slot.

Sorry for the runaround. Still getting used to the new site.

[2021-09-10 07:05] axtens opened #258 "Practice Exercise Difficulty not clearly defined"
![image](https://user-images.githubusercontent.com/209621/132813820-c705ca83-388e-4562-baed-faece5396ae9.png)

"...  levels of difficulty are where 1 is easy (context: config.json when maintaining a language track)"

[2021-09-10 07:25] iHiD commented on #250
Yep - that makes sense. The actual page itself is temporary - all buttons about requesting mentoring should be disabled with a tooltip that explains this. So I'll remember to add something there. I'll leave this open and rename it to be about this :)

[2021-09-10 12:40] #258 closed, assigned to ErikSchierboom

[2021-09-13 17:43] junedev opened #264 "Configlet sync docs out of date"
The `tests.toml` example given here https://exercism.org/docs/building/configlet/sync does not match the actual files in the tracks, e.g. https://github.com/exercism/javascript/blob/main/exercises/practice/grade-school/.meta/tests.toml.

@angelikatyborska said the docs are out of date.

[2021-09-13 17:50] SaschaMann commented on #264
Some context: https://github.com/exercism/configlet/issues/207

[2021-09-13 18:36] ee7 commented on #264
Indeed, sorry - the `configlet sync` docs are only up to date at:
- https://github.com/exercism/configlet#configlet-sync
- https://github.com/exercism/problem-specifications#track-test-data

I'll update them here.

[2021-09-13 19:28] junedev commented on #264
So I looked at the one place with the outdated info. 🙈

[2021-09-14 05:57] #253 closed, assigned to ErikSchierboom

[2021-09-14 06:01] #254 closed, assigned to ErikSchierboom

[2021-09-14 09:53] ee7 opened #265 "Add linting rule: each `concepts.slug` value exists in a `exercises.concept[].concepts` array"
From #261:

[2021-09-17 07:31] AthulMuralidhar commented on #172
hey @iHiD  can you please add what needs fixing here still? i went to the mentoring page here: https://exercism.org/mentoring  but i am a bit confused as to what sections in the page need proof reading. btw great product, great idea and im super stoked to help :)

[2021-09-17 16:56] iHiD commented on #172
I won't have time to check soon (still firefighting from v3 launch), but @ErikSchierboom will know if this has been done or if there is still more to do here. He'll be able to let you know (or close this if there's nothing left) :)

Thanks for the support :)

[2021-09-21 07:14] ErikSchierboom commented on #172
@AthulMuralidhar There has been some proofreading been done already, but a another pass will probably not hurt. You could check the following three pages:

- https://exercism.org/docs/mentoring/choosing-a-solution
- https://exercism.org/docs/mentoring/how-to-give-great-feedback
- https://exercism.org/docs/mentoring/markdown

[2021-09-28 07:03] ErikSchierboom commented on #167
The correct link is https://exercism.org/docs/building/tracks/concept-exercises

[2021-09-28 15:38] ghost commented on #172
Hey! I read through the three docs and only one thing really stood out:

In [https://exercism.org/docs/mentoring/choosing-a-solution](https://exercism.org/docs/mentoring/choosing-a-solution) there seems to be a missing image:
[TODO: Image of mentor discussion with areas marked].

[2021-10-01 16:32] justin-m-morgan commented on #172
Given that the present images in the docs are hosted, would the preference be to include them colocated with the doc for someone else to move to their final destination, or leave the image task to someone at a higher pay-grade? ;)

[2021-10-02 15:04] justin-m-morgan commented on #172
Is the "Automated Feedback" panel now removed from the Guidance panel?

[2021-10-02 23:45] pertrai1 opened #275 "Move TODO into Issues?"
I have seen places in the docs that have `TODO` that seems better to be listed here in issues rather than the public facing website.

![mentoring-discussion-todo](https://user-images.githubusercontent.com/442374/135734578-6f326b07-21ea-4d58-b970-f72fa35a4b58.jpg)

[2021-10-03 11:07] iHiD commented on #275
Feel free to make an issue for each TODO - thanks. They were intended to be fixed before launch and I think most of them are straightforward to fix.

[2021-10-07 23:29] pertrai1 opened #280 "Describe the command-line interface (command + options)."
Moving this so the `TODO` can be removed from generating-documents.md

[2021-10-07 23:30] pertrai1 opened #281 "Describe practice exercise files"
This takes the place of TODO showing in building/tracks/README.md

[2021-10-07 23:31] pertrai1 opened #282 "Image of mentor discussion with areas marked"
This is to take the place of the TODO in mentoring/choosing_a_solution.md

[2021-10-08 06:00] ErikSchierboom commented on #281
@pertrai1 We have since added a document for the practice exercise files: https://exercism.org/docs/building/tracks/practice-exercises

Would you care to send a PR to add the link?

[2021-10-11 08:08] #281 closed, assigned to nobody

[2021-10-13 06:07] #172 closed, assigned to nobody

[2021-10-13 07:41] ee7 opened #288 "lint spec: add rules for directories being in track config"
There are some recent additions to `configlet lint` that, if I recall correctly (please check), aren't in the spec:
- https://github.com/exercism/configlet/commit/e732894895f8c57c3631cb243ca10e349bf687b7
- https://github.com/exercism/configlet/pull/437

[2021-10-20 18:17] nthali commented on #167
Couple of things to clear my understanding:
1. are we creating issues on issues documentation?? would an end-user actually see vbnet/issues/69 for example?
2. @ErikSchierboom why is the "correct link" (https://exercism.org/docs/building/tracks/concept-exercises) so different from what you originally have in the doc (https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/concept-exercises.md)

[2021-10-21 06:50] ErikSchierboom commented on #167
Well, because we updated the documentation.

It's not, it is the very same page only rendered on the website :)

[2021-10-22 16:52] SleeplessByte opened #294 "Add https://exercism.org/docs to the website field of this repo"
Yes, it's in README.md, but having it in the right column helps with discoverability.

[2021-10-22 17:20] iHiD commented on #294
Done.

[2021-10-22 17:20] #294 closed, assigned to nobody

[2021-10-24 05:58] kotp opened #295 "Tags for Solidity"
There are three items added to this file that will still prevent
a "pass" from configlet lint.

These entries, or at least suitable entries, will need to be added to
the exercism/configlet/src/lint/track_config.nim file (as of this work).

See exercism/configlet#454 for the discussion concerning the above file
in regards to this language.  And the original PR at exercism/solidity#61.

[2021-10-24 10:57] SaschaMann commented on #295
They seem to niche to me to be useful as tags. Searching for them would likely only result in Solidity which defeats the point of having those tags.

[2021-10-24 15:21] kotp commented on #295
That is true at the moment, but Solidity is not the only programming
langauge that works on that platform, nor is the only language that may
be considered "transactional", and at some point, each language that
introduced a tag fell into that very category for at least one tag.

[2021-10-24 15:33] SaschaMann commented on #295
introduced a tag fell into that very category for at least one tag.

IIRC no language introduced a tag, they were chosen based on common properties of languages instead.

[2021-10-24 16:09] kotp commented on #295
Also, I believe Java probably is the language that introduced the JVM
tag.  Or the first language that started using the java virtual machine.
So the tag `runtime/evm` at least, if this is the first language that
runs there, will be introduced by a single language.

[2021-10-25 18:12] ErikSchierboom commented on #295
This was also my gut feeling.

tag. Or the first language that started using the java virtual machine.
So the tag runtime/evm at least, if this is the first language that
runs there, will be introduced by a single language.

As Sascha mentioned, the tags were chosen to help differentiate between tracks. We purposefully didn't try to make an exhaustive list, but only one that could plausibly help s

[2021-10-25 19:36] kotp commented on #295
I do not know that all of them apply (and transactional, surely is controversial here)  But I do think `EVM` being one of them needs to be introduced, since it is the platform it runs on, and that is objectively true.

[2021-10-26 11:00] ErikSchierboom commented on #295
We've had a chat internally, and we feel that the tags are valid _if_ they are shared with at least one other track.

[2021-10-26 16:35] #295 closed, assigned to nobody

[2021-10-27 02:28] lukaskretzschmer commented on #166
Hello, I spent some time trying to find the correct link to update the respective md file, because that's the only contribution I can make and then I found out it was just an issue.
Anyway, here is the link:
[https://github.com/exercism/docs/blob/main/building/tracks/concepts.md](https://github.com/exercism/docs/blob/main/building/tracks/concepts.md)

[2021-11-02 15:40] #166 closed, assigned to nobody

[2021-11-02 15:40] iHiD commented on #166
@lukaskretzschmer Thank you.

[2021-11-06 18:42] aalhaif commented on #167
#166 This is my first open-source contribution and I found all links direct to 404. I guess they’re related to the following link:
https://exercism.org/docs/building/tracks/concept-exercises

[2021-11-16 16:26] kotp opened #310 "This is no longer true:"
This is no longer true:
* On the exercise page in question, navigate to "Your Iterations". If the unwanted iteration is folded, click the circled arrow. In the "dots" menu, select "Delete iteration".

_Originally posted by @glennj in https://github.com/exercism/docs/pull/308#discussion_r750330310_

[2021-11-17 06:51] #310 closed, assigned to nobody

[2021-12-19 00:58] elireiner opened #312 "Link not working"
In the [Creating an Analyzer page](https://github.com/exercism/docs/blob/main/building/tooling/analyzers/creating-from-scratch.md) the link in bullet two does not work. What is the article it needs to point to?

[2021-12-22 07:35] ErikSchierboom commented on #312
The problem here is that the links are created for display on the website's docs part, not directly on GitHub. There, the link does work: https://exercism.org/docs/building/tooling/analyzers/creating-from-scratch We'll try at some point to fix this discrepancy.

[2021-12-22 07:35] #312 closed, assigned to ErikSchierboom

[2022-01-01 17:44] ghost opened #313 "Broken link to Chesterton's Fence in the "Being a Good Exercism Community Member" article"
Hi,

Post "Being a Good Exercism Community Member" references a post on Chesterton's Fence:
https://github.com/exercism/docs/blob/e769a02351d02b62d12191684c5337d4d243b6a2/community/good-member/README.md?plain=1#L51

The link points to: `/docs/community/being-a-good-community-member/chestertons-fence` [broken link](https://github.com/exercism/docs/blob/main/docs/community/being-a-good-community-mem

[2022-01-01 17:50] SaschaMann commented on #313
See the README:

On the website, this link appears to work properly: https://exercism.org/docs/community/being-a-good-community-member

[2022-01-01 17:50] ghost commented on #313
Thank you @SaschaMann. I'll close my issue

[2022-01-01 17:53] #313 closed, assigned to nobody

[2022-01-14 21:00] junedev commented on #264
@ee7 Do you still intend to do the update here or should I try to make PR to fix the "docs" docs by copy & pasting the relevant parts of the updated README docs?

[2022-01-22 16:51] ee7 commented on #264
@junedev Thanks for the ping. I claim that I'm still going to do this - sorry it's taken so long.

`configlet sync` was completely overhauled in the meantime - now the configlet docs in prob-specs are outdated too.

If I haven't done it by Monday then yes - please take over.

[2022-02-01 15:00] #209 closed, assigned to nobody

[2022-02-01 15:00] #210 closed, assigned to nobody

[2022-02-01 15:00] #211 closed, assigned to nobody

[2022-02-01 15:01] #212 closed, assigned to nobody

[2022-02-05 17:57] junedev commented on #264
I created the PRs to update the docs and the problem spec readme according to the configlet readme.

[2022-02-09 08:23] ErikSchierboom commented on #275
With https://github.com/exercism/docs/pull/328 and https://github.com/exercism/docs/pull/327 merged, there are no longer any TODOs in this repo.

[2022-02-09 08:23] #275 closed, assigned to nobody

[2022-02-09 08:24] ErikSchierboom commented on #280
Closed by https://github.com/exercism/docs/pull/328

[2022-02-09 08:24] #280 closed, assigned to nobody

[2022-02-09 08:25] ErikSchierboom commented on #282
Closed by #246

[2022-02-09 08:25] #282 closed, assigned to nobody

[2022-02-09 08:26] ErikSchierboom commented on #250
Is this a docs issue or more of a website issue?

[2022-02-09 09:32] ErikSchierboom commented on #167
Closing this as we did indeed have bad links, but we've fixed this for new tracks. Sorry about the inconvenience!

[2022-02-09 09:32] #167 closed, assigned to nobody

[2022-02-09 11:13] iHiD commented on #275
Wahooo!

[2022-02-09 12:30] loziniak commented on #275
On the other hand, TODOs can be seen as clear indicator of work-in-progress, and encourage contributors to work on docs perhaps? Giving instant gratification through TODO-figt :-)

[2022-02-09 19:29] ErikSchierboom commented on #264
Both PRs have been merged so this can be closed. Thanks a ton @junedev!

[2022-02-09 19:29] #264 closed, assigned to nobody

[2022-02-11 18:14] #79 closed, assigned to nobody

[2022-02-11 18:14] #189 closed, assigned to nobody

[2022-02-12 16:41] Eddie-Hartman commented on #250
@ErikSchierboom
What I was calling out definitely called attention to both. From the website side, it taking me to a "Whoops" page was unexpected because the link it provided just took you to a generic reputation page that didn't actually explain how much reputation I would need to unlock another slot or how to find that information.

For the docs side, seeing: "You can get more mentoring slots by

[2022-02-18 19:20] astyanax opened #332 "Enhancement: Focusing attention on the Learning vs Practice mode switch"
There is an existing section in [the FAQ mentioning that Learning mode is the default on Exercism v3](https://github.com/exercism/docs/blob/main/using/faqs.md#why-have-my-unlocked-exercises-in-the-old-site-become-locked). It looks like new users (and yours truly) may miss this vital piece of information, or that "Disable Learning Mode" will effectively enable Practice mode.

Two possible improveme

[2022-02-24 13:45] #332 closed, assigned to ErikSchierboom

[2022-05-01 08:48] nahuakang opened #350 "Fix broken relative links to repository files and directories"
## Motivation
I was reading `docs/building/configlet/README.md` when I found out that many relative links pointing to the `docs` repository files/dirs are redirected to `404`.

Relative links should be fixed so that new contributors have an easier time to navigate the docs and get started to work faster.

## Bad Relative URL Patterns
The problems can be summarized as following:

### 1. Incorrect r

[2022-05-01 09:14] SaschaMann commented on #350
Hi, thanks for the detailed issue.

As far as I understand, the docs are meant to be read on exercism.org/docs, where the links do work.

It would be best for Erik or Jeremy to fix the site gen of the website, so it works everywhere, but changing the links here will break them on the website.

[2022-05-01 09:23] nahuakang commented on #350
@SaschaMann That makes sense to me now. In this case I can also close the PR and this issue :)

[2022-05-01 09:23] #350 closed, assigned to nobody

[2022-06-09 13:01] guygastineau opened #355 "Are test details required when the test fails overall?"
https://github.com/exercism/docs/blob/a614e2a1432b346df7e7bb5bd415c7f36a626e81/building/tooling/test-runners/interface.md?plain=1#L66

I didn't find an example with a root status of `error`, and I am wondering if the `tests` field is required for this case.  I am retrofitting the test system and runner for the scheme track to be v2 or 3 conformant.  Currently I am passing the "code" for each test

[2022-06-09 13:43] ErikSchierboom commented on #355
Good question. I've created [a PR](https://github.com/exercism/docs/pull/356) to clarify.

[2022-06-09 14:09] guygastineau commented on #355
Thank you!

[2022-06-10 06:09] #355 closed, assigned to nobody

[2022-06-16 08:49] loziniak opened #357 "More info on UUIDs"
Perhaps UUIDs could have their own page in docs, and be linked from all other pages? They [cause some confusion](https://github.com/exercism/red/issues/31#issuecomment-1114344639), and info on them is [spread in documentation](https://github.com/exercism/docs/search?q=uuid), main info on them being in [*concept exercises* section of config.json docs](https://github.com/exercism/docs/blob/ac587062b

[2022-06-16 08:58] loziniak commented on #357
Hmm I just found more info in [configlet docs](https://github.com/exercism/docs/blob/7b30c32e3c2ca024a86db0326925d3e1908542d7/building/configlet/uuid.md) , but it suggests, that UUIDs can only be generated by *configlet*. Perhaps we could just add info about using external tools, and link from everywhere to this page? I can do a PR, but I need an opinion on that before starting to work on it.

[2022-06-16 09:18] ErikSchierboom commented on #357
We're fine with any tool generating the UUID, as long as it is a v4 UUID. A document would be nice!

[2022-06-22 09:29] ee7 opened #358 "markdown: explicitly forbid setext headings"
Exercism's markdown spec talks only about ATX headings, but doesn't quite explicitly say "don't use setext headings"
https://github.com/exercism/docs/blob/d334042e8f54ba7dd24ad215648355ff7795359a/building/markdown/markdown.md#L9-L15

It does however say:

So markdown linting in the future will enforce this.

Links:
- https://spec.commonmark.org/0.30/#atx-headings
- https://spec.commonmark.org/0.30

[2022-06-22 10:07] ee7 commented on #357
The most complete explanation currently might be at the bottom of [building/configlet/lint.md#glossary](https://github.com/exercism/docs/blob/main/building/configlet/lint.md#glossary).

I agree that it'd be nice to explain that it's fine to generate a UUID with external tools. I'd mention at least [`uuidgen -r`](https://man.archlinux.org/man/uuidgen.1.en) somewhere.

On Linux (since 2001) you can

[2022-06-22 15:23] BethanyG commented on #357
Python has a [UUID module](https://docs.python.org/3/library/uuid.html) that is part of the standard library, but our issues in the Python repo also point at both configlet and https://www.uuidgenerator.net/version4 as tools that can be used for generating a UUID v4.

[2022-06-30 05:48] axtens opened #360 "Link in "Practice Exercises" > "Shared files" is a 404"
In https://github.com/exercism/docs/blob/main/building/tracks/practice-exercises.md in the section entitled in "Shared files" the text reads "Some files are not specific to individual exercises, but are instead applicable to all exercises. Check the documentation for more information." The word "documentation" is a link to https://github.com/exercism/docs/blob/main/docs/building/tracks/shared-file

[2022-06-30 06:34] ErikSchierboom commented on #360
The documentation is meant to be read from the docs section on exercism.org, not via the markdown files. This is because there is a post-processing step going on. The correct page is thus https://exercism.org/docs/building/tracks/practice-exercises and there the link does work. Sorry for the confusion.

p.s. did we link to the markdown files anywhere in the new track docs and is that how you've fo

[2022-06-30 06:34] #360 closed, assigned to nobody

[2022-06-30 13:24] ee7 opened #361 "markdown: explicitly say whether GFM is supported"
I believe that the website uses [`commonmarker`](https://github.com/gjtorikian/commonmarker) (see [here](https://github.com/exercism/website/blob/498497e3cd333c248aee5eaa5ee6d2298b0349eb/app/commands/markdown/render_html.rb#L18)), which is the wrapper for [`libcmark-gfm`](https://github.com/github/cmark-gfm). And therefore the website supports rendering a markdown file that uses [GitHub Flavored M

[2022-07-04 07:32] ErikSchierboom commented on #361
FYI The additional rendering options that we support are footnotes and allowing unsafe HTML: https://github.com/gjtorikian/commonmarker#render-options

[2022-07-04 09:20] ee7 commented on #361
Thanks. Do we support tables and strikethrough too?

- [`website/app/commands/markdown/parse_doc.rb#L10`](https://github.com/exercism/website/blob/498497e3cd333c248aee5eaa5ee6d2298b0349eb/app/commands/markdown/parse_doc.rb#L10)
- [`website/test/commands/markdown/parse_test.rb#L70-L94`](https://github.com/exercism/website/blob/498497e3cd333c248aee5eaa5ee6d2298b0349eb/test/commands/markdown/parse_te

[2022-07-05 08:15] ErikSchierboom commented on #361
Yes.

@iHiD?

[2022-07-06 12:05] iHiD commented on #361
No idea. I guess we trust maintainers' code and allow them to do whatever?

[2022-07-06 12:09] ErikSchierboom commented on #361
🤷

[2022-07-17 20:25] ee7 commented on #199
Yeah, let's close this issue?

[2022-07-19 07:27] #199 closed, assigned to ErikSchierboom

[2022-08-12 11:40] junedev opened #366 "How-to Docs: Implemeting an exercise from problem spec"
A contributor from the Go track noticed that in the legacy docs, there was this page https://exercism.org/docs/building/tracks/new/add-initial-exercises#h-implement-exercises but it does not have a good equivalent in the V3 docs.

I found parts of it here https://exercism.org/docs/building/tracks/new/add-initial-exercises#h-implement-exercises but this was "hidden" under the creating a new track s

[2022-08-12 11:55] junedev opened #367 "How-to Docs: Creating a syllabus"
It feels like quite some maintainers/contributors are interested in creating a syllabus for their track but don't really know where/how to start. Would be good to have some info about hat.

I will paste some of the thoughts I mentioned on Slack below in case they will help with creating the docs page.

<details>
  <summary>Thoughts around syllabus creation</summary>

#### Think of concepts in laye

[2022-08-12 12:06] kytrinyx commented on #367
This is great, thank you!

I'll open a draft PR as a starting point for discussion, and then we can ask the various folks who have experience to take a look.

From there we can merge and then get feedback from the folks who are in the process of creating a syllabus, since they'll invariably have questions that help flesh it out.

[2022-08-12 12:18] junedev opened #368 "How-to Docs: Updating/syncing an existing practice exercise"
Since configlet has so many options, it is sometimes hard for contributors to find the right thing to do when they want to contribute an exercise update. Would be good to have one page that can be linked in "Sync exercise" issues so a (new) contributor can easily work on such an issue.

Should include
* a link to a page that explains how to install configlet
* a note that the contributor needs to

[2022-08-12 13:11] junedev opened #370 "How-to Docs: Creating a new concept"
We have the "spec" style documentation about what is in a concept once it is done but we don't have a document about how to approach creating a new concept from scratch.

Some notes on what could be mentioned:
- Making sure the new concept fits the concept tree
  - work off an existing issue or open an issue to discuss with maintainers first before jumping in
  - think about where the concept will

[2022-08-12 14:34] junedev opened #371 "How-to Docs: Creating a new concept exercise"
We have the "spec" style documentation about what is in a concept exercise once it is done but we don't have a document about how to approach creating a new exercise from scratch.

Some notes on what could be mentioned:
- Start from thinking about learning objectives (i.e. what should the student learn from the exercise) if they are not yet mentioned in the issue already. If the concept exists alr

[2022-08-12 14:49] junedev opened #372 "How-to Docs: Implement a test case generator"
I don't have details on this but it was mentioned by @ErikSchierboom or @iHiD that it would be good to write down some general advice about how to create a generator and that it might not be as hard as one might think. That means potentially more tracks could benefit from having a generator if there would be better docs on how to create one.

[2022-08-13 13:57] kytrinyx commented on #371
I think we should make sure that learning objectives are a part of the issue as part of #367

[2022-08-13 14:13] junedev commented on #371
@kytrinyx Ideally yes, but I wanted to account for the fact that some people might not follow that guidance when creating the issue or a contributor works on a "legacy" issue that was created before that guidance even existed.

[2022-08-27 04:52] ee7 opened #377 "missing anchor links"
Reproduce:

1. Go to e.g. https://exercism.org/docs/building/tracks/icons
2. Click on a link that links internally within the page. e.g. Key feature icons (https://exercism.org/docs/building/tracks/icons#h-key-feature-icons)
3. Note that nothing happens

---

~And even on a page where we don't explicitly link to another part of that page, it is useful to send people links like:~

~https://exercism

[2022-08-27 13:26] iHiD commented on #377
There's two things here.

1. Anchor links are being reloaded as page links. That's a bug.
2. The link URLs are actually of the format `h-#{lowercased_title}` - e.g. `https://exercism.org/docs/building/tracks/config-json#h-concepts`. This is currently deliberate.

- For (1), I'd appreciate a bug report on exercism/exercism (it can just link back to this comment).
- For (2), we could change to the "

[2022-08-27 13:40] ee7 commented on #377
Done: https://github.com/exercism/exercism/issues/6528

Ah. To others: https://github.com/exercism/exercism/issues/6485

Got it.

Then I think we can close this issue in favor of the two issues linked in this comment. Please reopen this if I'm wrong.

[2022-08-27 13:40] #377 closed, assigned to nobody

[2022-08-27 15:14] iHiD commented on #377
Thanks! :)

[2022-09-07 07:24] kytrinyx opened #380 "Understanding the why of learning mode"
@junedev brought up a great point in the discussion of #369 that we need to talk about the underlying reason for why learning mode even exists as a thing in Exercism.

I'm not exactly sure where this belongs though, so for now I'm deferring the problem :)

We can probably formulate something based on the original "rationale" document from when we were just starting to develop v3: https://github.co

[2022-09-19 09:58] #367 closed, assigned to kytrinyx

[2022-09-21 19:42] junedev opened #382 "Building - Practice Exercise Docs: Clarify how append file is rendered"
This is regarding this section:
https://exercism.org/docs/building/tracks/practice-exercises#h-file-docs-instructions-append-md

We had a lot of issues because people were not aware that the h1 header is removed and that the append content is rendered directly below the original instructions without any kind of separation. Usually you want to use an h2 after the h1 because of that so the content s

[2022-09-28 10:33] ErikSchierboom commented on #380
Maybe add this as part of the Product section? https://exercism.org/docs/using/product

[2022-10-02 04:37] kotp commented on #217
exercism/exercism#6566 is asking fo rupdates on the editions docs, specifically `teams.md`

[2022-10-05 03:42] gitonthescene opened #386 "docker.md link broken on test runners page"
[docker.md](https://github.com/exercism/docs/blob/main/docs/building/tooling/test-runners/docker) link is broken on [this page](https://github.com/exercism/docs/blob/main/building/tooling/test-runners/interface.md).

[2022-10-05 03:46] gitonthescene commented on #386
Ah, this is not meant to work from GitHub.  The link [here](https://exercism.org/docs/building/tooling/test-runners/interface) works.

[2022-10-05 03:46] #386 closed, assigned to nobody

[2022-10-08 19:47] kytrinyx opened #389 "Style guide question regarding capitalization of headers"
I think I recall that headers on Exercism should capitalize only the first letter and proper names, but I can't find a reference to this.

Have we documented our header preferences anywhere? If not, should we add something to `docs/building/markdown/style-guide` about it?

[2022-10-09 10:03] ErikSchierboom commented on #389
I don't think we do, and I'm not even sure we're consistent :( I know Jeremy sometimes likes to capitalize multiple words in sentence. I'm personally of the "capitalize the first letter only" camp 🤷

[2022-10-09 12:45] kytrinyx commented on #389
I'm also (quite strongly) in the "capitalize the first letter only" camp. I wonder if it's a Dutch/Norwegian vs English thing.

[2022-10-25 11:40] ee7 commented on #361
I'd probably lean towards:

- If there's no real reasonable basis for rendering unsafe HTML in markdown from Exercism track repos, stop doing that. This helps minimize the extent to which the security of the website is dependent on reviewers catching potentially subtle security issues, right? Or do we see legitimate uses for things like `<iframe>` and `<script>`?
- Regardless, we should have a `ma

[2022-10-25 12:01] ee7 opened #397 "links in this repo are not supposed to work when reading on GitHub"
**Please note that these docs are meant to be read at https://exercism.org/docs - not in this website. Links in this repository are relative to the website, not internally in this repo.**

Before creating a PR that fixes a link, please ensure that the link is broken when reading the docs on the Exercism website (not only  broken on GitHub).

[2022-11-06 22:21] rizgar920 opened #403 "Hello world"

[2022-11-06 22:21] #403 closed, assigned to nobody

[2022-11-14 18:18] junedev commented on #380
@kytrinyx The prefix "How-to Docs" in the issue title was meant for the pages that explain how to build/run something (syllabus, exercise update, etc). It does not seem to fit here. 🤔

[2022-11-14 18:29] junedev opened #409 "General documentation about practice exercises"
It came up in https://github.com/exercism/problem-specifications/pull/2149#pullrequestreview-1178116799 and other conversations that we are currently missing documentation/explanation/rationale on practice exercises in general, e.g.

The above applies to the maintainer side. Additionally, we might also miss more documentation/tutorials around how to deal with practice exercises as a student (e.g.

[2022-11-14 19:52] kytrinyx commented on #380
@junedev That makes sense. I've updated the title. I have no idea where this will fit, so I just removed the bit about which docs it belongs in.

[2022-11-15 21:38] #27 closed, assigned to nobody